@use '../Console.scss';
@import '@deephaven/components/scss/custom.scss';

$font-size: Console.$font-size;
$line-height: Console.$line-height;
$console-history-gutter-color: $gray-400;
$console-gutter-width: 30px;

.console-history .console-command-result {
  padding: 0 0 $spacer-1 0;
}

.console-history,
.console-history-footer {
  font-family: $font-family-monospace;
  font-size: $font-size;
  line-height: $line-height;
  padding: 0;

  .console-history-gutter,
  .error-gutter {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $console-gutter-width;
    text-align: right;
    padding-right: 8px;
    color: $console-history-gutter-color;
    user-select: none;
  }

  .console-history-content {
    min-width: 0;
    flex-grow: 1;
    overflow-wrap: break-word;
  }

  .console-history-content .error-message.expanded {
    .error-content {
      user-select: text;
      user-select: contain;
      white-space: pre-wrap;
      word-break: break-word;
      overflow: auto;
      text-overflow: clip;
      cursor: default;
    }
  }
}
