@use '../Console.scss';
@import '@deephaven/components/scss/custom.scss';

$font-size: Console.$font-size;

$error-gutter-width: 15px;
$hover-item-fade: 0.5;
$button-height: 26px;
$button-vert-margin: 4px;

.console-history-item-command,
.console-history-item-result {
  display: flex;
}

.console-history-item-command {
  white-space: pre-line;
}

.console-history-item-result .log-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

// adjust gutter tick to align in the middle of button results
.console-result-buttons .console-history-item-result .console-history-gutter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: calc($button-height + $button-vert-margin + $button-vert-margin);
}

.console-history-item-result {
  .btn-console-object {
    display: flex;
    align-items: center;
    gap: $spacer-1;
    text-align: left;
    font-size: $font-size;
    padding-left: $spacer-3;
    margin: $button-vert-margin $button-vert-margin $button-vert-margin 0;
    height: $button-height;
    border-radius: $button-height;

    &[disabled] {
      background-color: $gray-700;
      border-color: $gray-700;
      pointer-events: none;
    }
  }

  .error-message {
    color: $danger;
    display: flex;
    overflow: hidden;
    user-select: text;

    .error-gutter {
      padding: 0;
      flex-basis: $error-gutter-width;

      .error-btn-link {
        min-width: $error-gutter-width;
        background-color: transparent;
        border: 0;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        color: rgba($danger, $hover-item-fade);
        transition: $btn-transition;
      }

      .error-btn-link:hover,
      .error-btn-link--active {
        color: $danger;
      }
    }

    .error-content {
      flex-grow: 1;
      white-space: normal;
      cursor: default;
      overflow: visible;
      text-overflow: ellipsis;
    }

    .console-error-text-trigger {
      cursor: pointer;
      color: $danger;
      display: inline-block;
      margin-right: $spacer-1;
      border: 1px solid transparent;
      border-radius: $border-radius;
      overflow: visible;
      white-space: pre-wrap;
      // keyboard navigation only focus state
      &:focus {
        outline: 0;
      }
      &:focus-visible {
        border: 1px solid rgba($danger, $hover-item-fade);
      }
    }
  }
}
