@use '../Console.scss';
@use 'ConsoleHistoryItem.scss';
@import '@deephaven/components/scss/custom.scss';

$font-size: Console.$font-size;
$button-vert-margin: ConsoleHistoryItem.$button-vert-margin;
$button-height: ConsoleHistoryItem.$button-height;

.console-history-result-in-progress {
  user-select: none;

  .badge {
    background-color: $gray-600;
    color: $foreground;
    font-size: $font-size;
    font-weight: $font-weight-base;
    margin: $button-vert-margin $button-vert-margin $button-vert-margin 0;
    height: $button-height;
    border-radius: $button-height;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;

    .console-history-result-in-progress-cancel::after {
      border-radius: $button-height;
    }
  }

  &.disabled {
    .badge {
      color: $gray-300;
      background-color: $gray-700;
      border-color: $gray-700;
    }
  }
}
