@use '../common/ConsoleVariables';
@import '@deephaven/components/scss/custom.scss';

$error-gutter-width: 15px;
$font-size: ConsoleVariables.$font-size;
$button-height: ConsoleVariables.$button-height;
$button-vert-margin: ConsoleVariables.$button-vert-margin;

.console-history-item-command,
.console-history-item-result {
  display: flex;
}

.console-history-item-command {
  white-space: pre-line;
}

.console-history-item-result .log-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

// adjust gutter tick to align in the middle of button results
.console-result-buttons .console-history-item-result .console-history-gutter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: calc($button-height + $button-vert-margin + $button-vert-margin);
}

.console-history-item-result {
  .btn-console-object {
    display: inline-flex;
    align-items: center;
    gap: $spacer-1;
    text-align: left;
    font-size: $font-size;
    padding-left: $spacer-3;
    margin: $button-vert-margin $button-vert-margin $button-vert-margin 0;
    height: $button-height;
    border-radius: $button-height;
  }

  .error-message {
    color: $danger;
    display: flex;
    overflow: hidden;
    user-select: text;

    .error-gutter {
      padding: 0;
      flex-basis: $error-gutter-width;

      .error-btn-link {
        min-width: $error-gutter-width;
        background-color: transparent;
        border: 0;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        color: negative-opacity(50);
        transition: $btn-transition;
      }

      .error-btn-link:hover,
      .error-btn-link--active {
        color: $danger;
      }
    }

    .error-content {
      flex-grow: 1;
      white-space: normal;
      cursor: default;
      overflow: visible;
      text-overflow: ellipsis;
    }

    .console-error-text-trigger {
      cursor: pointer;
      color: $danger;
      display: inline-block;
      margin-right: $spacer-1;
      border: 1px solid transparent;
      border-radius: $border-radius;
      overflow: visible;
      white-space: pre-wrap;
      // keyboard navigation only focus state
      &:focus {
        outline: 0;
      }
      &:focus-visible {
        border: 1px solid negative-opacity(50);
      }
    }
  }
}

.hover-container {
  position: relative;
}

.action-group-wrapper {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

/* Background and text color on hover */
.hover-container:hover {
  background: #333;
}
.hover-container:hover .action-group-wrapper {
  opacity: 1;
  pointer-events: auto;
}
