/* stylelint-disable */
@import '@deephaven/components/scss/custom.scss';

:export {
  paper-bgcolor: var(--dh-color-chart-bg);
  plot-bgcolor: var(--dh-color-chart-plot-bg);
  title-color: var(--dh-color-chart-title);
  colorway: var(--dh-color-chart-colorway);
  gridcolor: var(--dh-color-chart-grid);
  linecolor: var(--dh-color-chart-axis-line);
  zerolinecolor: var(--dh-color-chart-axis-line-zero);
  activecolor: var(--dh-color-chart-active);
  rangebgcolor: var(--dh-color-chart-range-bg);
  area-color: var(--dh-color-chart-area);
  trend-color: var(--dh-color-chart-trend);
  line-color: var(--dh-color-chart-line-deprecated);
  error-band-line-color: var(--dh-color-chart-error-band-line);
  error-band-fill-color: var(--dh-color-chart-error-band-fill);
  ohlc-increasing: var(--dh-color-chart-ohlc-increase);
  ohlc-decreasing: var(--dh-color-chart-ohlc-decrease);
}
