/* stylelint-disable */
@import '@deephaven/components/scss/custom.scss';

:export {
  paper-bgcolor: var(--dh-color-chart-bg);
  plot-bgcolor: var(--dh-color-chart-plot-bg);
  title-color: var(--dh-color-chart-title);
  legend-color: var(--dh-color-chart-legend-fg);
  colorway: var(--dh-color-chart-colorway);
  gridcolor: var(--dh-color-chart-grid);
  linecolor: var(--dh-color-chart-axis-line);
  zerolinecolor: var(--dh-color-chart-axis-line-zero);

  error-band-line-color: var(--dh-color-chart-error-band-line);
  ohlc-increasing: var(--dh-color-chart-ohlc-increase);
  ohlc-decreasing: var(--dh-color-chart-ohlc-decrease);

  /* Geo */
  coastline-color: var(--dh-color-chart-geo-coastline);
  land-color: var(--dh-color-chart-geo-land);
  ocean-color: var(--dh-color-chart-geo-ocean);
  lake-color: var(--dh-color-chart-geo-lake);
  river-color: var(--dh-color-chart-geo-river);
}
