last 0.5 years and Chrome > 0 and not dead
last 0.5 years and Edge > 0 and not dead
last 0.5 years and Opera > 0 and not dead
last 0.5 years and Firefox > 0 and not dead
last 1 years and Safari > 0 and not dead
Firefox ESR and not dead
