# Just copy the .gitignore file for files we don't want to copy to the docker image

# dependencies
**/node_modules/

# testing
/coverage
jest*
__mocks__/
.github/

# production
**/build/
**/dist/

# misc
.git/
.vscode/
.DS_Store
**/.env*.local
.project
.settings/
.eslintcache
.stylelintcache
lerna-debug.log
Lerna-Profile-*.json

npm-debug.log*

**/tsconfig.tsbuildinfo
test-results/
playwright-report/
playwright/.cache/
jest*
**/CHANGELOG.md

# Ignore Dockerfile as well, since we don't need to copy that into the snapshot container
**/Dockerfile
.dockerignore
**/.gitignore

# Tests are copied to the docker container, as it modifies them
tests/