# Just copy the .gitignore file for files we don't want to copy to the docker image

# dependencies
node_modules*

# testing
/coverage

# production
*/build*
*/dist*

# misc
.vscode/*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.project
.settings/
.eslintcache
.stylelintcache
lerna-debug.log
Lerna-Profile-*.json

npm-debug.log*

src/**/*.css

tsconfig.tsbuildinfo
packages/*/package-lock.json
test-results/
playwright-report/
playwright/.cache/

# Ignore Dockerfile as well, since we don't need to copy that into the snapshot container
Dockerfile

# Tests are copied to the docker container, as it modifies them
tests/