# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/

# production
build/
dist/

# misc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
.env*local
.project
.settings/
.eslintcache
.stylelintcache
lerna-debug.log
Lerna-Profile-*.json

.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

css

tsconfig.tsbuildinfo
packages/*/package-lock.json
/test-results/
/playwright-report/
/playwright/.cache/
/tests/*/*darwin.png