@import '~@deephaven/components/scss/custom.scss';

.shortcut-item-container {
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-weight: $font-weight-light;
  }

  input {
    width: 40%;
  }
}

.shortcut-item-conflicts {
  text-align: right;
  color: $danger;
}
