@import '@deephaven/components/scss/custom.scss';

$tab-height: 32px;
$tab-font-size: 1rem;

$tab-button-side-padding: 9px;

$tab-link-disabled-color: $gray-600;

$nav-space: 4px; // give a gap around some buttons for focus area that are in nav bar

.app-main-top-nav-menus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.app-main-right-menu-buttons {
  .btn-link {
    font-size: $tab-font-size;
    text-decoration: none;
    height: $tab-height - $nav-space;
    line-height: $tab-height - $nav-space;
    padding: 0 $tab-button-side-padding;
    cursor: pointer;
    margin: $nav-space * 0.5 0 $nav-space * 0.5 0;

    &.btn-settings-menu {
      margin-right: $input-border-width;
    }

    &[disabled] {
      color: $tab-link-disabled-color;
    }
  }
}

.tab-content {
  height: calc(100% - #{$tab-height});
}

.tab-pane {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.app-main-tabs {
  &:focus {
    outline: none;
  }
}
