@import '~@deephaven/components/scss/custom.scss';

.EmbedGridApp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $black;
  color: $white;
}
