@import '@deephaven/components/scss/custom.scss';

$empty-dashboard-color: $gray-400;
$empty-dashboard-background-color: $gray-900;
$empty-dashboard-border-color: $gray-500;
$empty-dashboard-hint-box-width: 180px;

.empty-dashboard-container + div > .lm_goldenlayout {
  // golden-layout is below empty-dash, but we don't want it visible
  visibility: hidden;
}

.empty-dashboard-container {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .empty-dashboard {
    height: 100%;
    width: 100%;
    border: dashed;
    border-color: $empty-dashboard-border-color;
    border-width: 1px;
    color: $empty-dashboard-color;
    background-color: $empty-dashboard-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn {
      align-self: center;
    }
  }
  .add-panels-hint {
    align-self: center;
    font-size: 40px;
    text-align: center;
  }
  .hint-container {
    width: $empty-dashboard-hint-box-width;
    color: $empty-dashboard-color;
    line-height: normal;
    text-align: center;
    position: absolute;
    padding-top: $spacer-1;
    right: 9px;
  }
}
