@import '@deephaven/components/scss/custom.scss';

.system-badge ~ .nav-tabs div:first-of-type .btn-nav-tab {
  // reduce padding on first tab for better spacing
  // when system badge is shown
  padding-left: 12px;
  &::before,
  &::after {
    left: 12px;
  }
}

.system-badge {
  display: flex;
  border-radius: $border-radius;
  padding: $spacer-1;
  margin: $spacer-1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 75%;
  font-weight: 600;
  max-width: 120px;
  min-width: 45px;
  background-color: $purple;
  color: $black;

  label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
  }

  &.is-dark-bg {
    color: $white;
  }

  &.is-system-type {
    &.system-type-prod {
      background-color: $primary-dark;
      color: $foreground;
    }

    &.system-type-dev {
      background-color: $blue;
    }

    &.system-type-sim {
      background-color: $green;
    }

    &.system-type-qa {
      background-color: $yellow;
    }
  }
}
