@import '@deephaven/components/scss/custom.scss';

$widget-list-color: $gray-200;
$widget-list-hover-color: $foreground;
$widget-list-background-hover-color: var(--dh-color-highlight-hover);

$widget-list-owner-color: $gray-400;
$widget-list-owner-hover-color: $gray-200;

.widget-list-container {
  height: 25.6rem;
  text-align: left;
  width: 23rem;

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
  }

  .widget-list-header {
    padding: $spacer-2 $spacer-2 $spacer $spacer-2;
  }

  .widget-list-footer {
    padding: $spacer-2;
  }

  .widget-list {
    display: grid;
    align-content: start;
    padding: 0;
    margin: 0;
    overflow: auto;

    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .btn {
      border: none;
      border-radius: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      margin: 0;
      padding: 0.35rem 0.5rem;
      width: 100%;
      color: $widget-list-color;

      &:hover,
      &:focus {
        color: $widget-list-hover-color;
        background-color: $widget-list-background-hover-color;
        text-decoration: none;
      }
    }

    .widget-list-message {
      padding: 0 $spacer-2;
    }
  }
}
