/*
* This stylesheet is only applied during playwright tests.

* Attempting to fix kerning issues with webkit
* by disabling ligatures, kerning and smoothing for all tests
* https://github.com/microsoft/playwright/issues/20203
*
* In theory this makes it more deterministic and consistent.
*
*/

* {
  -webkit-font-smoothing: none !important;
  font-variant-ligatures: none !important;
  font-kerning: none !important;
  text-rendering: optimizespeed !important;

  body {
    font-feature-settings: 'liga' 0 !important;

    table,
    .table,
    .grid-wrapper {
      /* tnum for grids and tables only */
      font-feature-settings:
        'liga' 0,
        'tnum' !important;
    }
  }
}
