@import '@deephaven/components/scss/custom.scss';

.linker-overlay {
  z-index: $zindex-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .linker-toast-dialog {
    $toast-inner-padding: $spacer-3;
    $toast-outer-padding: $spacer-3;

    position: absolute;
    background: $modal-content-bg;
    max-width: 400px;
    color: $interfaceblack;
    pointer-events: auto;
    box-shadow: $tooltip-box-shadow;
    z-index: $zindex-popover;

    &.isLoading {
      right: $toast-outer-padding;
      bottom: $toast-outer-padding;
    }

    .btn-drag-handle {
      cursor: grab;
      border-radius: 0;
      border: none;
      position: absolute;
      background: $gray-300;
      color: $gray-600;
      top: 50%;
      left: 0;
      height: 100%;
      min-width: 1.5rem;
      max-width: 2rem;
      transform: translateY(-50%);

      &:hover {
        background-color: $gray-400;
        color: $gray-700;
      }
    }

    .toast-body {
      padding: $toast-inner-padding;
      position: relative;
      margin-right: 10px;
      left: 20px;
    }

    .toast-footer {
      padding: $toast-inner-padding;
      display: flex;
      justify-content: flex-end;
      .btn:not(:last-child) {
        margin-right: $spacer-3;
      }
    }
  }
}
