@import '@deephaven/components/scss/custom.scss';

$link-width: 3;
$selectable-width: 20;
$dash-color-1: $blue;
$dash-color-2: mix($blue, $content-bg, 25%);
$filter-source-dash-color-1: $purple;
$filter-source-dash-color-2: mix($purple, $content-bg, 25%);
$invalid-dash-color-1: $gray-300;
$invalid-dash-color-2: $gray-700;
$dash-delete-color-1: $danger;
$dash-delete-color-2: mix($danger, $content-bg, 25%);
$dash-size: 10;

.linker-overlay {
  .btn-fab {
    pointer-events: all;
    position: absolute;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0.25rem 0.45rem;
    z-index: 30;
  }

  .btn-fab.btn-delete:hover {
    background-color: $dash-delete-color-1;
    border-color: $dash-delete-color-1;
  }

  .linker-link {
    position: absolute;
    width: 100%;
    height: 100%;

    .link-dot,
    .link-triangle {
      fill: $dash-color-1;
    }

    path {
      stroke-width: $link-width;
      fill: transparent;
      stroke: $dash-color-2;
      pointer-events: none;
      transition: stroke $transition ease-out;
    }

    path.link-foreground {
      stroke: $dash-color-1;
      stroke-dasharray: $dash-size;
      animation: dash-forward 1.5s linear infinite;
    }

    path.link-select {
      stroke-width: $selectable-width;
      fill: transparent;
      stroke: transparent;
      pointer-events: stroke;
      cursor: pointer;
    }

    &.link-is-selected {
      z-index: 20;

      .link-dot,
      .link-triangle {
        fill: $primary;
      }
      path {
        stroke-width: $link-width;
        stroke: $primary-light;
        &.link-select {
          stroke-width: $selectable-width;
          stroke: transparent;
        }
      }

      path.link-foreground {
        stroke: $primary;
      }
    }

    &.link-filter-source {
      .link-dot,
      .link-triangle {
        fill: $filter-source-dash-color-1;
      }
      path {
        stroke-width: $link-width;
        stroke: $filter-source-dash-color-2;
        &.link-select {
          stroke-width: $selectable-width;
          stroke: transparent;
        }
      }

      path.link-foreground {
        stroke: $filter-source-dash-color-1;
      }
    }

    &.link-invalid {
      .link-dot,
      .link-triangle {
        fill: $invalid-dash-color-1;
      }
      path {
        stroke-width: $link-width;
        stroke: $invalid-dash-color-2;
        &.link-select {
          stroke-width: $selectable-width;
          stroke: transparent;
        }
      }

      path.link-foreground {
        stroke: $invalid-dash-color-1;
      }
    }

    &.disabled path.link-select {
      pointer-events: none;
    }

    &.hovering {
      z-index: 10;
    }

    path.link-select:hover ~ path.link-background {
      stroke: $primary-hover;
    }

    path.link-select:hover ~ path.link-foreground,
    path.link-select:hover ~ .link-dot,
    path.link-select:hover ~ .link-triangle {
      stroke: $primary;
    }

    path.link-select:hover ~ .link-dot,
    path.link-select:hover ~ .link-triangle {
      fill: $primary;
    }

    &.danger-delete {
      path.link-select:hover ~ path.link-background {
        stroke: $dash-delete-color-2;
      }

      path.link-select:hover ~ path.link-foreground,
      path.link-select:hover ~ .link-dot,
      path.link-select:hover ~ .link-triangle {
        stroke: $dash-delete-color-1;
      }

      path.link-select:hover ~ .link-dot,
      path.link-select:hover ~ .link-triangle {
        fill: $dash-delete-color-1;
      }
    }
  }
}

@keyframes dash-forward {
  to {
    stroke-dashoffset: $dash-size * -2;
  }
}
