[class*='spectrum'] {
  /* --font-family-sans-serif is defined in Bootstrap's _root.scss. We want
  Spectrum to use the same default font-family */
  font-family: var(--font-family-sans-serif) !important;
}

/* Override _reboot.scss */
label[class*='spectrum-'] {
  margin-bottom: 0;
}

/*
* This workaround can be removed when this fix is pulled in
* https://github.com/adobe/react-spectrum/issues/7571
*/
[class*='spectrum-Menu-itemGrid'] svg,
svg[class*='spectrum-Textfield-validationIcon'] {
  /* set as border-box by reboot, but spectrum expects this to be content-box */
  box-sizing: content-box;
}

svg[class*='spectrum-Textfield-validationIcon'] {
  /* set as border-box by reboot, but spectrum expects this to be content-box */
  box-sizing: content-box;
}

.svg-inline--fa[class*='spectrum-Icon--sizeS'] {
  /* 
  Resize fontawesome icons used inside a spectrum icon wrapper to match
  our icon size. Spectrum icons are 18px by default, but our icons are built on a 16px grid.
  */
  --spectrum-alias-workflow-icon-size: var(--dh-svg-inline-icon-size);
}

/** 
 * Spectrum action button icons only include right padding if the the icon is 
 * the only child. In cases where we add a <Tooltip>, we have to manually add 
 * the right padding ourselves to keep the icon centered.
 */
.action-button-icon-with-tooltip {
  padding-right: var(
    --spectrum-actionbutton-icon-padding-x,
    var(--spectrum-global-dimension-size-85)
  );
}

/* Table */
[class*='spectrum-Table-headCell'] {
  /* 
  Tables are styled with the assumption that the header is the same color as the bg
  which means they look bad against any other background color, instead just inherit the bg.
  There is also no variable exposed for this, so we have to target the class directly.
 */
  --dh-table-header-cell-background-color: transparent;

  background: var(--dh-table-header-cell-background-color);
}

[class*='spectrum-Table-row'] {
  /* border of selected color is hard-coded as blue rather than accent color */
  --spectrum-table-row-border-color-selected: var(
    --dh-color-item-list-selected-border
  );
}

[class*='spectrum-Table--quiet'] {
  /* Quiet shouldn't assume a bg color */
  --spectrum-alias-background-color-default: transparent;
}

[class*='spectrum-ListView'] {
  /* border of selected color is hard-coded as blue rather than accent color */
  --spectrum-listview-item-border-color-selected: var(
    --dh-color-item-list-selected-border
  );
}

/**
  Adjust Spectrum button text and icon alignment to account for DH using a
  different font and smaller icons. Spectrum `ButtonGroup` will add additional
  `-spectrum-ButtonGroup` classes to child buttons (including DH ones), so we
  explicitly exclude our buttons from the selector.
  */
button[class*='spectrum-Button']:not(.btn):not(.btn-socketed) {
  /* make the icon closer to the text */
  --spectrum-button-primary-text-gap: var(--spectrum-global-dimension-size-75);

  /* Center the text vertically. We use a different font then spectrum so we require different custom centering */
  padding-bottom: calc(var(--spectrum-global-dimension-size-50) - 1px);
  padding-top: calc(var(--spectrum-global-dimension-size-50));
}
button[class*='spectrum-Button']:not(.btn):not(.btn-socketed) svg {
  /* 
    We use smaller icons than Spectrum, so we need to adjust the padding to 
    center when we use our icons inside of Spectrum buttons.
    */
  padding-bottom: var(--spectrum-global-dimension-size-25);
}

span[class*='spectrum-Checkbox-label'],
span[class*='spectrum-Radio-label'] {
  /* I have no idea why these spectrum labels aren't centered,
   but this fixes it. Maybe difference in font baselines.
   */
  margin-top: var(--spectrum-global-dimension-size-85);
}
label[class*='spectrum-Radio'] {
  --spectrum-radio-emphasized-circle-border-color-error: var(
    --dh-color-negative-bg
  );
  --spectrum-radio-emphasized-circle-border-color-error-hover: var(
    --dh-color-negative-hover-bg
  );
  --spectrum-radio-emphasized-circle-border-color-error-down: var(
    --dh-color-negative-down-bg
  );
  --spectrum-radio-circle-border-color-error-key-focus: var(
    --dh-color-negative-key-focus-bg
  );
  --spectrum-radio-circle-border-color-error-selected-key-focus: var(
    --dh-color-negative-key-focus-bg
  );
}

span[class*='spectrum-ToggleSwitch-switch'] {
  /* increase contrast of switch in off position */
  background: var(--dh-toggle-switch-bg);
}
