[class^='spectrum'] {
  /* --font-family-sans-serif is defined in Bootstrap's _root.scss. We want
  Spectrum to use the same default font-family */
  font-family: var(--font-family-sans-serif) !important;
}

/* Override _reboot.scss */
label[class^='spectrum-'] {
  margin-bottom: 0;
}

.svg-inline--fa[class*='spectrum-Icon--sizeS'] {
  /* 
  Resize fontawesome icons used inside a spectrum icon wrapper to match
  our icon size. Spectrum icons are 18px by default, but our icons are built on a 16px grid.
  */
  --spectrum-alias-workflow-icon-size: var(--dh-svg-inline-icon-size);
}

/** 
 * Spectrum action button icons only include right padding if the the icon is 
 * the only child. In cases where we add a <Tooltip>, we have to manually add 
 * the right padding ourselves to keep the icon centered.
 */
.action-button-icon-with-tooltip {
  padding-right: var(
    --spectrum-actionbutton-icon-padding-x,
    var(--spectrum-global-dimension-size-85)
  );
}

[class^='spectrum-Table-headCell'] {
  /* 
  Tables are styled with the assumption that the header is the same color as the bg
  which means they look bad against any other background color, instead just inherit the bg.
  There is also no variable exposed for this, so we have to target the class directly.
 */
  --dh-table-header-cell-background-color: transparent;
  background: var(--dh-table-header-cell-background-color);
}

/* Table */
[class*='spectrum-Table--quiet'] {
  /* Quiet shouldn't assume a bg color */
  --spectrum-alias-background-color-default: transparent;
}

button[class^='spectrum-Button'] {
  /* make the icon closer to the text */
  --spectrum-button-primary-text-gap: 6px;

  /* center the text vertically, we have different font, it requires different centering */
  padding-bottom: calc(var(--spectrum-global-dimension-size-50) - 1px);
  padding-top: calc(var(--spectrum-global-dimension-size-50));
}

button[class^='spectrum-Button'] svg {
  /* our icons are smaller, center them too */
  padding-bottom: 2px;
}

span[class^='spectrum-Checkbox-label'],
span[class^='spectrum-Radio-label'] {
  /* I have no idea why these spectrum labels aren't centered, but this fixes it */
  margin-top: 0;
  align-self: center;
}
