@import '~@deephaven/components/scss/custom.scss';

$chart-panel-disconnected-opacity: 0.18;
$overlay-message-font-size: 1.2rem;
$overlay-scrim-bg: rgba(black, 0.5);
$overlay-content-max-width: 450px;

.iris-chart-panel {
  overflow: hidden;

  &.disconnected,
  &.inactive,
  &.input-required {
    .chart-container {
      filter: grayscale(100%);
    }
  }
  &.disconnected {
    .chart-container {
      opacity: $chart-panel-disconnected-opacity;
    }
  }
}

.chart-panel-overlay {
  background-color: $overlay-scrim-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .chart-panel-overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-line;
    max-width: $overlay-content-max-width;
    margin: $spacer-3;

    .info-message {
      font-size: $overlay-message-font-size;
    }
  }
}
