/*
* This stylesheet is only applied to Playwright screenshots.
*
* Attempting to fix kerning issues with webkit
* by disabling ligatures, kerning and smoothing for all tests
* https://github.com/microsoft/playwright/issues/20203
*
* In theory this makes it more deterministic and consistent.
*
*/

* {
  font-smoothing: none !important;
  -webkit-font-smoothing: none !important;
  font-variant-ligatures: none !important;
  font-feature-settings: 'liga' 0 !important;
  font-kerning: none !important;
  text-rendering: optimizeSpeed !important;
}
