@import '~@deephaven/components/scss/custom.scss';

.custom-format-title {
  margin-bottom: 0;
  border: none;
  display: flex;
  width: 100%;
  padding: $input-btn-padding-y $input-btn-padding-x;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  user-select: none;

  .icon {
    flex-grow: 0;
    margin-right: 0.5rem;
    width: 1rem;
    text-align: center;
  }

  .title {
    flex-grow: 1;
  }
}
