/* stylelint-disable */
@import '@deephaven/components/scss/custom.scss';

:export {
  // iris dark theme
  error-foreground: var(--dh-color-visual-red);
  background: var(--dh-color-content-background);
  foreground: var(--dh-color-gray-900);
  line-height: 19px; // 19 is the line height in the default monaco theme

  //code ruless
  string: var(--dh-color-visual-yellow);
  string-delim: var(--dh-color-gray-700);
  delimiter: var(--dh-color-gray-700);
  predefined: var(--dh-color-visual-green);
  keyword: var(--dh-color-visual-cyan);
  storage: var(--dh-color-visual-red);
  number: var(--dh-color-visual-purple);
  operator: var(--dh-color-visual-red);
  identifier: var(--dh-color-gray-900);
  namespace-identifier: var(--dh-color-visual-red);
  identifier-js: var(--dh-color-visual-yellow);
  comment: var(--dh-color-gray-700);

  //input
  input-option-active-border: var(--dh-color-focus-ring);
  focus-border: var(--dh-color-focus-border);
  input-background: var(--dh-color-background);
  input-foreground: var(--dh-color-text);
  input-border: var(--dh-color-border);

  //editor
  editor-line-number-foreground: var(--dh-color-gray-700);
  editor-selection-background: var(--dh-color-text-highlight);
  editor-line-highlight-bg: var(--dh-color-gray-200);

  //context menu
  context-menu-background: var(--dh-color-gray-300);
  context-menu-foreground: var(--dh-color-gray-900);
  menu-selection-background: var(--dh-color-highlight-hover);

  //log items
  log-date: var(--dh-color-gray-700);
  log-error: var(--dh-color-visual-red);
  log-info: var(--dh-color-visual-cyan);
  log-stdout: var(--dh-color-gray-900);
  log-warn: var(--dh-color-visual-yellow);
  log-debug: var(--dh-color-visual-purple);
  log-trace: var(--dh-color-visual-green);

  // find matches
  editor-find-match-background: var(--dh-color-highlight-selected);
  editor-find-match-highlight-background: var(
    --dh-color-highlight-selected-hover
  );

  // find widget
  editor-widget-background: var(--dh-color-gray-200);
  input-option-active-background: var(--dh-color-accent-700);
  input-option-active-foreground: var(--dh-color-gray-900);

  // suggest widget
  editor-suggest-widget-background: var(--dh-color-gray-200);
  editor-suggest-widget-border: var(--dh-color-gray-400);
  editor-suggest-widget-foreground: var(--dh-color-gray-100);
  editor-suggest-widget-selected-background: var(--dh-color-highlight-selected);
  editor-suggest-widget-highlightForeground: var(--dh-color-accent-700);
  list-hover-background: var(--dh-color-highlight-hover);

  // links
  text-link-foreground: var(--dh-color-accent-1000);
  text-link-active-foreground: var(--dh-color-accent-1100);
  editor-link-active-foreground: var(--dh-color-accent-1100);
}
