.ruff-settings-modal {
  .modal-title {
    // This is a wrapper created by reactstrap
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .settings-modal-title {
      margin: 0;
    }
  }
}
