@import '../../../../components/scss/custom.scss';

$input-filter-icon-size: 31px;

.input-filter-panel-component {
  .lm_content {
    // Allow content to overflow above headers, so flip animation works properly
    z-index: 15;
    overflow: visible;
  }
}

.input-filter {
  background: $background;
  display: grid;
  height: 100%;
  width: 100%;
  perspective: 1000px;

  .front,
  .back {
    grid-area: 1/1/2/2;
    transform-style: flat;
    backface-visibility: hidden;
    transition: transform $transition-slow ease-in-out;
    overflow: hidden;
  }

  &.flip-back {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0);
    }
  }

  &.flip-front {
    .front {
      transform: rotateY(0);
    }
    .back {
      transform: rotateY(-180deg);
    }
  }

  .input-filter-settings-card,
  .input-filter-value-card {
    position: relative;
    overflow: auto;
    height: 100%;
    background: $content-bg;
  }

  // Settings side
  .input-filter-settings-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-filter-settings-content {
    margin: auto;
    padding: $spacer-1;
  }

  .input-filter-settings-grid {
    display: grid;
    max-width: 500px;
    grid-template-columns: max-content min-max(min-content, 350px);
    column-gap: $spacer-2;
    row-gap: $spacer-2;
    padding-bottom: $spacer;

    label {
      padding-top: calc(#{$input-padding-y} + #{$input-height-border});
    }

    .text-muted {
      grid-column-start: 2;
    }
  }

  .input-filter-settings-buttons {
    display: flex;
    justify-content: flex-end;
  }

  // Filter side
  .input-filter-column {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacer-2;
    color: $text-muted;
    font-size: small;
  }

  .input-filter-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .input-filter-value-input {
    max-width: 100%;
    padding: $spacer-1;

    input {
      font-size: x-large;
      color: $interfacewhite;
      text-align: center;
      background: transparent;
      border: none;
      border-bottom: 1px solid $gray-400;
      max-width: 100%;

      &:focus {
        outline: none;
        border-bottom: 1px solid $input-focus-border-color;
        box-shadow: 0 $input-btn-focus-width 0 $input-btn-focus-color;
      }
    }
  }
}
