@import '../scss/custom.scss';
@import '../scss/util.scss';

.hcm-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  border: $input-border-width solid $input-border-color;
  background-color: $input-bg;
  padding: $custom-select-padding-y $custom-select-padding-x;

  .cs-caret {
    @include caret-icon;

    margin-right: 4px;
  }
}
.hcm-btn:hover:not(:disabled) .cs-caret {
  background-color: var(--dh-color-selector-hover-fg);
}

.hcm-btn:focus {
  border-color: $input-focus-border-color;
}

.hcm-menu-container {
  padding: $spacer-2;
  .hcm-parent {
    font-weight: bold;
  }
  .hcm-child {
    margin-left: $spacer-3;
  }
}
