@import '../scss/custom.scss';

.hcm-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $custom-select-padding-x;
  justify-content: space-between;
  border-radius: $border-radius;
  border: $input-border-width solid $input-border-color;
  color: var(--dh-color-input-fg);
  background-color: var(--dh-color-selector-bg);
  padding: $custom-select-padding-y $custom-select-padding-x;
  font-weight: $font-weight-normal;

  .cs-caret {
    @include caret-icon;

    margin-right: 4px;
    flex-shrink: 0;
  }
}

.hcm-btn:focus {
  border-color: $input-focus-border-color;
}

.hcm-btn:hover:not(:disabled) {
  border-color: var(--dh-color-input-hover-border);
  color: var(--dh-color-selector-hover-fg);
  background-color: var(--dh-color-selector-hover-bg);
  .cs-caret {
    background-color: var(--dh-color-selector-hover-fg);
  }
}

.hcm-menu-container {
  padding: $spacer-2;
  .hcm-parent {
    font-weight: bold;
  }
  .hcm-child {
    margin-left: $spacer-3;
  }
}
