@import '../scss/custom.scss';
.item-list-scroll-pane {
  // no point in padding, it will be ignored by list scrollToItem(last)
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  &:focus {
    outline: none;
  }
  .item-list-inner-element {
    position: relative;
  }
}
