@import '../scss/custom.scss';

$iris-panel-message-font-size: 1.2rem;
$iris-panel-icon-font-size: 64px;
$iris-panel-scrim-bg: hsla(var(--dh-color-black-hsl), 0.1);
$iris-panel-error-bg: hsla(var(--dh-color-black-hsl), 1);

.iris-panel-message-overlay {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-line;
  overflow: hidden;

  .message-content {
    display: flex;
    flex-direction: column;
    font-size: $iris-panel-message-font-size;
    gap: 20px;
    .message-icon {
      font-size: $iris-panel-icon-font-size;
      height: $iris-panel-icon-font-size;
      line-height: $iris-panel-icon-font-size;
      .svg-inline--fa {
        font-size: inherit;
      }
    }
  }

  .error-state {
    background-color: $iris-panel-error-bg;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
  }

  .error-dismiss {
    border-radius: 8px;
    max-width: 200px;
    width: 80%;
    margin: auto;
  }
}

.iris-panel-scrim-background {
  background: $iris-panel-scrim-bg;
}
