@import '../scss/custom.scss';

.random-area-plot-animation-container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  canvas {
    transition: all $transition;
    display: block;

    &.shade {
      filter: grayscale(100%) brightness(90%);
    }
  }
}
