@import '../scss/custom.scss';

.search-group {
  position: relative;

  .form-control {
    padding-right: 1.75rem; // leave space for search icon and cancel button from browser
  }

  .search-icon {
    color: var(--dh-color-search-icon);
    pointer-events: none;
    position: absolute;
    right: $spacer-2;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  ::-webkit-search-cancel-button {
    $close-path: 'M8 8.707l3.646 3.647.708-.707L8.707 8l3.647-3.646-.707-.708L8 7.293 4.354 3.646l-.707.708L7.293 8l-3.646 3.646.707.708L8 8.707z';

    // Need to specify -webkit-appearance: none for Chrome
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: var(--dh-color-foreground);
    mask-image: var(--dh-svg-icon-search-cancel);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 16px;
    opacity: 0.4;
    transition: opacity 300ms ease;
    &:hover {
      opacity: 1;
    }
  }

  .search-match {
    pointer-events: none;
    position: absolute;
    right: $spacer-5;
    top: 15%;
    bottom: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    padding: 0 $spacer-2;
    border-radius: 1rem;
    background-color: rgba($white, 0.25);
  }
}
