@import '../scss/custom.scss';
@import '../scss/util.scss';

.search-group {
  position: relative;

  .form-control {
    padding-right: 1.75rem; // leave space for search icon and cancel button from browser
  }

  .search-icon {
    color: var(--dh-color-search-icon);
    pointer-events: none;
    position: absolute;
    right: $spacer-2;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  ::-webkit-search-cancel-button {
    $icon-size: 16px;
    @include icon-image-mask(var(--dh-svg-icon-search-cancel), $icon-size);

    // Need to specify -webkit-appearance: none for Chrome
    -webkit-appearance: none;
    height: $icon-size;
    width: $icon-size;
    opacity: 0.4;
    transition: opacity 300ms ease;
    &:hover {
      opacity: 1;
    }
  }

  .search-change-selection {
    position: absolute;
    right: $spacer-1;
    top: 15%;
    bottom: 15%;
    height: 70%;
  }

  .search-change-button {
    background: none;
    border: none;
    padding: 1px 2px;
  }

  .search-change-text {
    background-color: hsla(var(--dh-color-white-hsl), 0.2);
    border-radius: 10px;
    padding: 1px 5px;
  }

  .search-match {
    background-color: hsla(var(--dh-color-white-hsl), 0.2);
    border-radius: 10px;
    padding: 1px 5px;
    margin: 0 5px;
  }
}
