@import '../scss/custom.scss';

$item-list-hover-bg: rgba($primary, 0.25);
$item-list-keyboard-selected-bg: rgba($primary, 0.5);
$item-list-selected-keyboard-selected-bg: rgba($primary, 0.75);
$item-list-selected-bg: $primary;
$item-list-selected-color: $white;
$item-list-drop-target-color: $white;

.single-click-item-list-dnd-placeholder {
  position: absolute;
  top: -100px;
  right: 0;

  .dnd-placeholder-content {
    padding: $spacer-1 $spacer-3;
    background: $primary-dark;
    color: $foreground;
    border-radius: $border-radius;
  }
}

.single-click-item-list-scroll-pane {
  overflow-x: hidden;
  overflow-y: auto;

  &:focus {
    outline: none;
  }
}

.single-click-item-list {
  position: relative;

  .item-list-item {
    background: transparent;

    .is-dragged {
      cursor: move;
      cursor: grabbing;
      opacity: 0.5;
    }

    .is-in-drop-target {
      color: $item-list-drop-target-color;
    }

    .is-exact-drop-target {
      color: $item-list-drop-target-color;
    }
  }

  .item-list-item:hover {
    background-color: $item-list-hover-bg;
  }

  .item-list-item.keyboard-active {
    background-color: $item-list-keyboard-selected-bg;
  }

  .item-list-item:focus,
  .item-list-item.active {
    background-color: $item-list-selected-bg;
  }

  .item-list-item.active.keyboard-active {
    background-color: $item-list-selected-keyboard-selected-bg;
  }

  .item-list-item:focus,
  .item-list-item.active,
  .item-list-item:hover,
  .item-list-item.keyboard-active {
    color: $item-list-selected-color;
  }
}

.single-click-item-list-content {
  width: 100%;
}
