/**
  This module contains overrides of React Spectrum css variables for the default
  `light` Deephaven theme.
*/
@use '../scss/bootstrap_overrides' as bootstrap;
@use '../scss/util' as *;

// Doubling specificity to ensure this takes precedence over default Spectrum
// styles.
#{multiply-specificity-n('.dh-spectrum-theme--light', 2)} {
  --spectrum-alias-background-color-default: #{bootstrap.$white};
}
