@use '../scss/bootstrap_overrides' as *;

.component {
  /* Override Adobe Spectrum CSS variables */
  &-dark {
    --spectrum-alias-background-color-default: #{$interfaceblack};
  }
  &-light {
    --spectrum-alias-background-color-default: #{$interfacewhite};
  }

  // Since this provider may be used to wrap components that are not at the root
  // of the application, we want to leave the background color alone so that
  // components can "inherit" parent component background colors.
  background-color: transparent;
}
