@import '@deephaven/components/scss/custom.scss';

$shade: $primary;

$command-history-bg: $gray-700;
$selection-color: $interfacewhite;
$selection-bg: mix($shade, $command-history-bg, 35%);
$selection-hover-bg: $shade;
$selection-nofocus-bg: mix($shade, $command-history-bg, 12%);
$selection-border-color: mix($shade, $command-history-bg, 55%);
$selection-hover-color: $interfacewhite;

.command-history {
  .command-history-item {
    width: 100%;
    padding: 0 $input-btn-padding-x;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .item-list-item {
    padding: 0;
    width: 100%;
    background: transparent;
    color: $text-muted;
    text-align: left;
    cursor: pointer;
    user-select: none;
    line-height: 27px; // CommandHistory.ITEM_HEIGHT - borders
    transition: $btn-transition;
    border: 1px solid transparent; //we need a spacer border so stuff doesn't move on us when we apply a border-color
  }

  .item-list-item.is-focused {
    // We don't want the keyboard selection to appear, only items that are actually selected
    background-color: transparent;
    color: $text-muted;
  }

  .item-list-item:focus {
    outline: none;
  }

  .item-list-item.active {
    outline: none;
    background-color: $selection-nofocus-bg;
    color: $selection-color;
  }
}

//for selected items, apply border on left and right
.command-history:focus-within .item-list-item.active {
  background-color: $selection-bg;
  color: $selection-color;
  border-left-color: $selection-border-color;
  border-right-color: $selection-border-color;
}

.command-history .item-list-item:hover,
.command-history:focus-within .item-list-item.active:hover {
  background-color: $selection-hover-bg;
  color: $selection-hover-color;
  transition: none; //to make things feel more responsive don't trasinition the hover in
}

//apply border to top of the first item in the list if its selected, and the first selected after a non-selected item
.command-history:focus-within .item-list-item:not(.active) + .active,
.command-history:focus-within .item-list-item.active:first-of-type {
  border-top: 1px solid $selection-border-color;
}

//there's no easy way to get the last select item in a grouping, so we apply the end border
//to the TOP of the first non-selected item, ie. the previous selection group
.command-history:focus-within .active + .item-list-item:not(.active) {
  border-top: 1px solid $selection-border-color;
}

//since there is no item after the last item in teh selection, we apply the border to the bottom of the last selected element
.command-history:focus-within .item-list-item.active:last-of-type {
  border-bottom: 1px solid $selection-border-color;
}
