/* stylelint-disable alpha-value-notation */
/* stylelint-disable custom-property-empty-line-before */
:root {
  --dh-color-chart-bg: var(--dh-color-content-bg);
  --dh-color-chart-plot-bg: var(--dh-color-gray-200);
  --dh-color-chart-title: var(--dh-color-text);
  --dh-color-chart-legend-fg: var(--dh-color-text);

  /* Colorway */
  --dh-color-chart-colorway: var(--dh-color-visual-cyan)
    var(--dh-color-visual-green) var(--dh-color-visual-yellow)
    var(--dh-color-visual-purple) var(--dh-color-visual-orange)
    var(--dh-color-visual-red) var(--dh-color-visual-chartreuse)
    var(--dh-color-visual-fuchsia) var(--dh-color-visual-seafoam)
    var(--dh-color-visual-magenta) var(--dh-color-white);
  --dh-color-chart-grid: var(--dh-color-gray-400);
  --dh-color-chart-axis-line: var(--dh-color-gray-500);
  --dh-color-chart-axis-line-zero: var(--dh-color-gray-700);

  /* Error band */
  --dh-color-chart-error-band-line: var(--dh-color-green-1400);

  /* OHLC */
  --dh-color-chart-ohlc-increase: var(--dh-color-visual-green);
  --dh-color-chart-ohlc-decrease: var(--dh-color-visual-red);

  --dh-color-plotly-axis-text: var(--dh-color-gray-500);
  --dh-color-plotly-zoombox: color-mix(
    in srgb,
    var(--dh-color-true-black) 50%,
    transparent
  );
  --dh-color-plotly-zoombox-corners-fill: var(--dh-color-white);
  --dh-color-plotly-zoombox-corners-stroke: var(--dh-color-gray-75);

  --dh-color-plotly-modebar-btn-active: color-mix(
    in srgb,
    var(--dh-color-true-white) 30%,
    transparent
  );
  --dh-color-plotly-modebar-btn-warning: var(--dh-color-visual-orange);
  --dh-color-plotly-notifier-note-bg: var(--dh-color-gray-500);

  /* Geo */
  --dh-color-chart-geo-coastline: var(--dh-color-gray-200);
  --dh-color-chart-geo-land: var(--dh-color-gray-700);
  --dh-color-chart-geo-ocean: var(--dh-color-gray-300);
  --dh-color-chart-geo-lake: var(--dh-color-blue-200);
  --dh-color-chart-geo-river: var(--dh-color-blue-200);
}
