/* stylelint-disable alpha-value-notation */
:root {
  --dh-color-loading-spinner-primary: var(--dh-color-accent-default-bg);
  --dh-color-loading-spinner-secondary: hsla(var(--dh-color-gray-800-hsl), 0.5);
  --dh-color-quickactions-bg: hsla(var(--dh-color-visual-gray-hsl), 0.9);
  --dh-color-radial-reaction: hsla(var(--dh-color-visual-gray-hsl), 0.6);
  --dh-color-colorpicker-border: hsla(var(--dh-color-visual-gray-hsl), 0.1);
}
