/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable alpha-value-notation */
:root {
  /* HSL base colors */
  --dh-color-background-hsl: var(--dh-color-black-hsl);
  --dh-color-foreground-hsl: var(--dh-color-white-hsl);

  --dh-color-action-hsl: var(--dh-color-gray-75-hsl);
  --dh-color-accent-hsl: var(--dh-color-blue-600-hsl);
  --dh-color-info-hsl: var(--dh-color-cyan-1000-hsl);
  --dh-color-neutral-hsl: var(--dh-color-gray-500-hsl);
  --dh-color-notice-hsl: var(--dh-color-yellow-1000-hsl);
  --dh-color-positive-hsl: var(--dh-color-green-900-hsl);
  --dh-color-negative-hsl: var(--dh-color-red-600-hsl);

  /*
   * Contrast Colors
   *
   * Note that React Spectrum guidance suggests that background colors containing
   * yellow, orange, chartreuse or cyan should use a dark contrast color. All
   * others should use light. Therefore, these should stay in sync with the 
   * --dh-color-xxx-hsl values above.
   * https://spectrum.adobe.com/page/using-color/#Solid-color-background-with-black-or-white
   */
  --dh-color-contrast-dark-hsl: var(--dh-color-gray-50-hsl);
  --dh-color-contrast-light-hsl: var(--dh-color-gray-900-hsl);

  --dh-color-action-contrast-hsl: var(--dh-color-contrast-light-hsl);
  --dh-color-accent-contrast-hsl: var(--dh-color-contrast-light-hsl);
  --dh-color-info-contrast-hsl: var(--dh-color-contrast-dark-hsl);
  --dh-color-negative-contrast-hsl: var(--dh-color-contrast-light-hsl);
  --dh-color-neutral-contrast-hsl: var(--dh-color-contrast-light-hsl);
  --dh-color-notice-contrast-hsl: var(--dh-color-contrast-dark-hsl);
  --dh-color-positive-contrast-hsl: var(--dh-color-contrast-light-hsl);

  /* Visual HSL */
  --dh-color-visual-blue-hsl: var(--dh-color-blue-600-hsl);
  --dh-color-visual-celery-hsl: var(--dh-color-celery-1000-hsl);
  --dh-color-visual-chartreuse-hsl: var(--dh-color-chartreuse-1100-hsl);
  --dh-color-visual-cyan-hsl: var(--dh-color-cyan-1100-hsl);
  --dh-color-visual-fuchsia-hsl: var(--dh-color-fuchsia-900-hsl);
  --dh-color-visual-gray-hsl: var(--dh-color-gray-600-hsl);
  --dh-color-visual-green-hsl: var(--dh-color-green-1100-hsl);
  --dh-color-visual-indigo-hsl: var(--dh-color-indigo-900-hsl);
  --dh-color-visual-magenta-hsl: var(--dh-color-magenta-900-hsl);
  --dh-color-visual-orange-hsl: var(--dh-color-orange-900-hsl);
  --dh-color-visual-purple-hsl: var(--dh-color-purple-900-hsl);
  --dh-color-visual-red-hsl: var(--dh-color-red-800-hsl);
  --dh-color-visual-seafoam-hsl: var(--dh-color-seafoam-1100-hsl);
  --dh-color-visual-yellow-hsl: var(--dh-color-yellow-1200-hsl);

  --dh-color-visual-positive-hsl: var(--dh-color-green-1100-hsl);
  --dh-color-visual-negative-hsl: var(--dh-color-red-800-hsl);
  --dh-color-visual-notice-hsl: var(--dh-color-yellow-1200-hsl);
  --dh-color-visual-info-hsl: var(--dh-color-cyan-1100-hsl);

  /* General */
  --dh-color-border: var(--dh-color-gray-500);
  --dh-color-background: hsl(var(--dh-color-background-hsl));
  --dh-color-foreground: hsl(var(--dh-color-foreground-hsl));
  --dh-color-content-bg: var(--dh-color-gray-100);

  /* Hover */
  --dh-color-hover-border: var(--dh-color-gray-600);

  /* Text */
  --dh-color-heading-text: var(--dh-color-gray-900);
  --dh-color-text: var(--dh-color-gray-800);
  --dh-color-text-disabled: var(--dh-color-gray-400);
  --dh-color-text-highlight: hsla(var(--dh-color-blue-700-hsl), 0.3);

  /* Contrast Base */
  --dh-color-contrast-dark: hsl(var(--dh-color-contrast-dark-hsl));
  --dh-color-contrast-light: hsl(var(--dh-color-contrast-light-hsl));

  /** Accent Colors */
  --dh-color-accent-100: var(--dh-color-blue-100);
  --dh-color-accent-200: var(--dh-color-blue-200);
  --dh-color-accent-300: var(--dh-color-blue-300);
  --dh-color-accent-400: var(--dh-color-blue-400);
  --dh-color-accent-500: var(--dh-color-blue-500);
  --dh-color-accent-600: var(--dh-color-blue-600);
  --dh-color-accent-700: var(--dh-color-blue-700);
  --dh-color-accent-800: var(--dh-color-blue-800);
  --dh-color-accent-900: var(--dh-color-blue-900);
  --dh-color-accent-1000: var(--dh-color-blue-1000);
  --dh-color-accent-1100: var(--dh-color-blue-1100);
  --dh-color-accent-1200: var(--dh-color-blue-1200);
  --dh-color-accent-1300: var(--dh-color-blue-1300);
  --dh-color-accent-1400: var(--dh-color-blue-1400);

  /* Accent Background */
  --dh-color-accent-default-bg: hsl(var(--dh-color-accent-hsl));
  --dh-color-accent-hover-bg: var(--dh-color-accent-500);
  --dh-color-accent-down-bg: var(--dh-color-accent-400);
  --dh-color-accent-key-focus-bg: var(--dh-color-accent-500);
  --dh-color-accent-contrast: hsl(var(--dh-color-accent-contrast-hsl));

  /* Background Defaults */
  --dh-color-default-gray-bg: var(--dh-color-gray-700);
  --dh-color-default-blue-bg: var(--dh-color-blue-700);
  --dh-color-default-red-bg: var(--dh-color-red-700);
  --dh-color-default-orange-bg: var(--dh-color-orange-800);
  --dh-color-default-yellow-bg: var(--dh-color-yellow-1000);
  --dh-color-default-chartreuse-bg: var(--dh-color-chartreuse-900);
  --dh-color-default-celery-bg: var(--dh-color-celery-800);
  --dh-color-default-green-bg: var(--dh-color-green-700);
  --dh-color-default-seafoam-bg: var(--dh-color-seafoam-700);
  --dh-color-default-cyan-bg: var(--dh-color-cyan-700);
  --dh-color-default-indigo-bg: var(--dh-color-indigo-700);
  --dh-color-default-purple-bg: var(--dh-color-purple-700);
  --dh-color-default-fuchsia-bg: var(--dh-color-fuchsia-700);
  --dh-color-default-magenta-bg: var(--dh-color-magenta-700);

  /* Focus */
  --dh-color-focus: var(--dh-color-blue-800);
  --dh-color-focus-border: var(--dh-color-blue-800);
  --dh-color-focus-ring: var(--dh-color-focus);

  /* Highlight */
  --dh-color-highlight-active: hsla(var(--dh-color-visual-gray-hsl), 0.15);
  --dh-color-highlight-hover: hsla(var(--dh-color-visual-gray-hsl), 0.08);
  --dh-color-highlight-invalid: hsla(var(--dh-color-visual-red-hsl), 0.15);
  --dh-color-highlight-selected: hsla(var(--dh-color-visual-blue-hsl), 0.13);
  --dh-color-highlight-selected-hover: hsla(
    var(--dh-color-visual-blue-hsl),
    0.2
  );

  /* Shadows / Overlays */
  --dh-color-dropshadow: hsla(var(--dh-color-visual-gray-hsl), 0.8);
  --dh-color-overlay-modal-bg: hsla(var(--dh-color-visual-gray-hsl), 0.6);
  --dh-color-overlay-hover-bg: hsla(var(--dh-color-visual-gray-hsl), 0.08);

  /* Negative Background */
  --dh-color-negative-default-bg: hsl(var(--dh-color-negative-hsl));
  --dh-color-negative-hover-bg: var(--dh-color-red-500);
  --dh-color-negative-down-bg: var(--dh-color-red-400);
  --dh-color-negative-key-focus-bg: var(--dh-color-red-500);
  --dh-color-negative-contrast: hsl(var(--dh-color-negative-contrast-hsl));

  /* Neutral */
  --dh-color-neutral-default-bg: hsl(var(--dh-color-neutral-hsl));
  --dh-color-neutral-hover-bg: var(--dh-color-gray-400);
  --dh-color-neutral-down-bg: var(--dh-color-gray-300);
  --dh-color-neutral-key-focus-bg: var(--dh-color-gray-400);
  --dh-color-neutral-contrast: hsl(var(--dh-color-neutral-contrast-hsl));

  --dh-color-neutral-subdued-default-bg: var(--dh-color-gray-400);
  --dh-color-neutral-subdued-hover-bg: var(--dh-color-gray-300);
  --dh-color-neutral-subdued-down-bg: var(--dh-color-gray-200);
  --dh-color-neutral-subdued-key-focus-bg: var(--dh-color-gray-300);

  /* Positive */
  --dh-color-positive-default-bg: hsl(var(--dh-color-positive-hsl));
  --dh-color-positive-hover-bg: var(--dh-color-green-800);
  --dh-color-positive-down-bg: var(--dh-color-green-700);
  --dh-color-positive-key-focus-bg: var(--dh-color-green-800);
  --dh-color-positive-contrast: hsl(var(--dh-color-positive-contrast-hsl));

  /* Informative */
  --dh-color-info-default-bg: hsl(var(--dh-color-info-hsl));
  --dh-color-info-hover-bg: var(--dh-color-cyan-900);
  --dh-color-info-down-bg: var(--dh-color-cyan-800);
  --dh-color-info-key-focus-bg: var(--dh-color-cyan-900);
  --dh-color-info-contrast: hsl(var(--dh-color-info-contrast-hsl));

  /* Notice */
  --dh-color-notice-default-bg: hsl(var(--dh-color-notice-hsl));
  --dh-color-notice-hover-bg: var(--dh-color-yellow-900);
  --dh-color-notice-down-bg: var(--dh-color-yellow-800);
  --dh-color-notice-key-focus-bg: var(--dh-color-yellow-1000);
  --dh-color-notice-contrast: hsl(var(--dh-color-notice-contrast-hsl));

  /* Visual Colors */
  --dh-color-visual-blue: hsl(var(--dh-color-visual-blue-hsl));
  --dh-color-visual-celery: hsl(var(--dh-color-visual-celery-hsl));
  --dh-color-visual-chartreuse: hsl(var(--dh-color-visual-chartreuse-hsl));
  --dh-color-visual-cyan: hsl(var(--dh-color-visual-cyan-hsl));
  --dh-color-visual-fuchsia: hsl(var(--dh-color-visual-fuchsia-hsl));
  --dh-color-visual-gray: hsl(var(--dh-color-visual-gray-hsl));
  --dh-color-visual-green: hsl(var(--dh-color-visual-green-hsl));
  --dh-color-visual-indigo: hsl(var(--dh-color-visual-indigo-hsl));
  --dh-color-visual-magenta: hsl(var(--dh-color-visual-magenta-hsl));
  --dh-color-visual-orange: hsl(var(--dh-color-visual-orange-hsl));
  --dh-color-visual-purple: hsl(var(--dh-color-visual-purple-hsl));
  --dh-color-visual-red: hsl(var(--dh-color-visual-red-hsl));
  --dh-color-visual-seafoam: hsl(var(--dh-color-visual-seafoam-hsl));
  --dh-color-visual-yellow: hsl(var(--dh-color-visual-yellow-hsl));

  --dh-color-visual-positive: hsl(var(--dh-color-visual-positive-hsl));
  --dh-color-visual-negative: hsl(var(--dh-color-visual-negative-hsl));
  --dh-color-visual-notice: hsl(var(--dh-color-visual-notice-hsl));
  --dh-color-visual-info: hsl(var(--dh-color-visual-info-hsl));

  /* Wells */
  --dh-color-well-bg: hsla(var(--dh-color-visual-gray-hsl), 0.02);
  --dh-color-well-border: hsla(var(--dh-color-visual-gray-hsl), 0.05);
}
