/* stylelint-disable alpha-value-notation */
/* stylelint-disable custom-property-empty-line-before */
:root {
  --dh-color-chart-bg: var(--dh-color-content-background);
  --dh-color-chart-plot-bg: var(--dh-color-gray-200);
  --dh-color-chart-title: var(--dh-color-white);

  /* Colorway */
  --dh-color-chart-colorway-1: var(--dh-color-visual-cyan);
  --dh-color-chart-colorway-2: var(--dh-color-visual-green);
  --dh-color-chart-colorway-3: var(--dh-color-visual-yellow);
  --dh-color-chart-colorway-4: var(--dh-color-visual-purple);
  --dh-color-chart-colorway-5: var(--dh-color-visual-orange);
  --dh-color-chart-colorway-6: var(--dh-color-visual-red);
  --dh-color-chart-colorway-7: var(--dh-color-visual-chartreuse);
  --dh-color-chart-colorway-8: var(--dh-color-visual-fuchsia);
  --dh-color-chart-colorway-9: var(--dh-color-visual-seafoam);
  --dh-color-chart-colorway-10: var(--dh-color-visual-magenta);
  --dh-color-chart-colorway-11: var(--dh-color-white);

  --dh-color-chart-grid: var(--dh-color-gray-400);
  --dh-color-chart-axis-line: var(--dh-color-gray-500);
  --dh-color-chart-axis-line-zero: var(--dh-color-gray-700);
  --dh-color-chart-active: var(--dh-color-accent-600);

  /* Update hsl components to --dh-color-gray-500-hsl as part of PR #1603 */
  --dh-color-chart-range-bg: hsla(var(--dh-color-gray-hue), 1%, 36%, 0.7);
  --dh-color-chart-area: var(--dh-color-visual-blue);
  --dh-color-chart-trend: var(--dh-color-green-1200);

  /* Error band */
  --dh-color-chart-error-band-line: var(--dh-color-green-1400);

  /* Update hsl components to --dh-color-green-1200-hsl base color defined by PR #1603 */
  --dh-color-chart-error-band-fill: hsla(
    var(--dh-color-green-hue),
    71%,
    70%,
    0.1
  );

  /* OHLC */
  --dh-color-chart-ohlc-increase: var(--dh-color-visual-green);
  --dh-color-chart-ohlc-decrease: var(--dh-color-visual-red);

  /* 
   * This color shows up in the styleguide, but it doesn't seem to be consumed
   * in production code. There has been discussion about it not being needed 
   * anymore. 
   */
  --dh-color-chart-line-deprecated: var(--dh-color-visual-green);
}
