/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable alpha-value-notation */
:root {
  /* General */
  --dh-color-bg: var(--dh-color-black);
  --dh-color-content-bg: var(--dh-color-gray-100);
  --dh-color-subdued-content-bg: var(--dh-color-gray-75);
  --dh-color-surface-bg: var(--dh-color-gray-200);
  --dh-color-fg: var(--dh-color-white);
  --dh-color-border: var(--dh-color-gray-500);
  --dh-color-hover-border: var(--dh-color-gray-600);
  --dh-color-border-focus: var(--dh-color-accent-800);
  --dh-color-disabled-bg: var(--dh-color-gray-300);
  --dh-color-scrollbar: var(--dh-color-fg);

  /* Text */
  --dh-color-heading-text: var(--dh-color-gray-900);
  --dh-color-text: var(--dh-color-gray-800);
  --dh-color-text-disabled: var(--dh-color-gray-600);
  --dh-color-text-highlight: color-mix(
    in srgb,
    var(--dh-color-blue-700) 30%,
    transparent
  );
  --dh-color-text-hover: var(--dh-color-gray-900);

  /*
   * Contrast Colors
   *
   * Note that React Spectrum guidance suggests that background colors containing
   * yellow, orange, chartreuse or cyan should use a dark contrast color. All
   * others should use light.
   * https://spectrum.adobe.com/page/using-color/#Solid-color-background-with-black-or-white
   */
  --dh-color-contrast-dark: var(--dh-color-gray-50);
  --dh-color-contrast-light: var(--dh-color-gray-900);

  /** Accent Colors */
  --dh-color-accent-100: var(--dh-color-blue-100);
  --dh-color-accent-200: var(--dh-color-blue-200);
  --dh-color-accent-300: var(--dh-color-blue-300);
  --dh-color-accent-400: var(--dh-color-blue-400);
  --dh-color-accent-500: var(--dh-color-blue-500);
  --dh-color-accent-600: var(--dh-color-blue-600);
  --dh-color-accent-700: var(--dh-color-blue-700);
  --dh-color-accent-800: var(--dh-color-blue-800);
  --dh-color-accent-900: var(--dh-color-blue-900);
  --dh-color-accent-1000: var(--dh-color-blue-1000);
  --dh-color-accent-1100: var(--dh-color-blue-1100);
  --dh-color-accent-1200: var(--dh-color-blue-1200);
  --dh-color-accent-1300: var(--dh-color-blue-1300);
  --dh-color-accent-1400: var(--dh-color-blue-1400);

  /* Accent */
  --dh-color-accent: var(--dh-color-accent-600);
  --dh-color-accent-bg: var(--dh-color-accent);
  --dh-color-accent-hover-bg: var(--dh-color-accent-500);
  --dh-color-accent-down-bg: var(--dh-color-accent-400);
  --dh-color-accent-key-focus-bg: var(--dh-color-accent-500);
  --dh-color-accent-contrast: var(--dh-color-contrast-light);

  /* Background Defaults */
  --dh-color-gray-bg: var(--dh-color-gray-700);
  --dh-color-red-bg: var(--dh-color-red-700);
  --dh-color-orange-bg: var(--dh-color-orange-800);
  --dh-color-yellow-bg: var(--dh-color-yellow-1000);
  --dh-color-chartreuse-bg: var(--dh-color-chartreuse-900);
  --dh-color-celery-bg: var(--dh-color-celery-800);
  --dh-color-green-bg: var(--dh-color-green-700);
  --dh-color-seafoam-bg: var(--dh-color-seafoam-700);
  --dh-color-cyan-bg: var(--dh-color-cyan-700);
  --dh-color-blue-bg: var(--dh-color-blue-700);
  --dh-color-indigo-bg: var(--dh-color-indigo-700);
  --dh-color-purple-bg: var(--dh-color-purple-700);
  --dh-color-fuchsia-bg: var(--dh-color-fuchsia-700);
  --dh-color-magenta-bg: var(--dh-color-magenta-700);

  /* Visual Colors */
  --dh-color-visual-gray: var(--dh-color-gray-600);
  --dh-color-visual-red: var(--dh-color-red-800);
  --dh-color-visual-orange: var(--dh-color-orange-900);
  --dh-color-visual-yellow: var(--dh-color-yellow-1200);
  --dh-color-visual-chartreuse: var(--dh-color-chartreuse-1100);
  --dh-color-visual-celery: var(--dh-color-celery-1000);
  --dh-color-visual-green: var(--dh-color-green-1100);
  --dh-color-visual-seafoam: var(--dh-color-seafoam-1100);
  --dh-color-visual-cyan: var(--dh-color-cyan-1100);
  --dh-color-visual-blue: var(--dh-color-blue-600);
  --dh-color-visual-indigo: var(--dh-color-indigo-900);
  --dh-color-visual-purple: var(--dh-color-purple-1100);
  --dh-color-visual-fuchsia: var(--dh-color-fuchsia-900);
  --dh-color-visual-magenta: var(--dh-color-magenta-900);

  --dh-color-visual-positive: var(--dh-color-green-1200);
  --dh-color-visual-negative: var(--dh-color-red-800);
  --dh-color-visual-notice: var(--dh-color-yellow-1200);
  --dh-color-visual-info: var(--dh-color-cyan-1100);

  /* Focus */
  --dh-color-focus: var(--dh-color-blue-800);
  --dh-color-focus-border: var(--dh-color-blue-800);
  --dh-color-focus-ring: var(--dh-color-focus);

  /* Highlight */
  --dh-color-highlight-active: color-mix(
    in srgb,
    var(--dh-color-visual-gray) 20%,
    transparent
  );
  --dh-color-highlight-hover: color-mix(
    in srgb,
    var(--dh-color-visual-gray) 18%,
    transparent
  );
  --dh-color-highlight-invalid: color-mix(
    in srgb,
    var(--dh-color-visual-red) 15%,
    transparent
  );
  --dh-color-highlight-selected: color-mix(
    in srgb,
    var(--dh-color-accent) 9%,
    transparent
  );
  --dh-color-highlight-selected-hover: color-mix(
    in srgb,
    var(--dh-color-accent) 15%,
    transparent
  );

  /* Keyboard selected */
  --dh-color-keyboard-selected-bg: color-mix(
    in srgb,
    var(--dh-color-accent) 50%,
    transparent
  );

  /* Shadows / Overlays */
  --dh-color-dropshadow: color-mix(
    in srgb,
    var(--dh-color-true-black) 80%,
    transparent
  );
  --dh-color-overlay-modal-bg: color-mix(
    in srgb,
    var(--dh-color-visual-gray) 60%,
    transparent
  );
  --dh-color-overlay-hover-bg: color-mix(
    in srgb,
    var(--dh-color-visual-gray) 8%,
    transparent
  );

  /* Negative */
  --dh-color-negative: var(--dh-color-red-600);
  --dh-color-negative-bg: var(--dh-color-negative);
  --dh-color-negative-hover-bg: var(--dh-color-red-500);
  --dh-color-negative-down-bg: var(--dh-color-red-400);
  --dh-color-negative-key-focus-bg: var(--dh-color-red-500);
  --dh-color-negative-contrast: var(--dh-color-contrast-light);

  /* Neutral */
  --dh-color-neutral: var(--dh-color-gray-500);
  --dh-color-neutral-bg: var(--dh-color-neutral);
  --dh-color-neutral-hover-bg: var(--dh-color-gray-300);
  --dh-color-neutral-down-bg: var(--dh-color-gray-200);
  --dh-color-neutral-key-focus-bg: var(--dh-color-gray-300);
  --dh-color-neutral-contrast: var(--dh-color-contrast-light);

  --dh-color-neutral-subdued-bg: var(--dh-color-gray-400);
  --dh-color-neutral-subdued-hover-bg: var(--dh-color-gray-300);
  --dh-color-neutral-subdued-down-bg: var(--dh-color-gray-200);
  --dh-color-neutral-subdued-key-focus-bg: var(--dh-color-gray-300);

  /* Positive */
  --dh-color-positive: var(--dh-color-green-900);
  --dh-color-positive-bg: var(--dh-color-positive);
  --dh-color-positive-hover-bg: var(--dh-color-green-800);
  --dh-color-positive-down-bg: var(--dh-color-green-700);
  --dh-color-positive-key-focus-bg: var(--dh-color-green-800);
  --dh-color-positive-contrast: var(--dh-color-contrast-dark);

  /* Informative */
  --dh-color-info: var(--dh-color-indigo-900);
  --dh-color-info-bg: var(--dh-color-info);
  --dh-color-info-hover-bg: var(--dh-color-indigo-800);
  --dh-color-info-down-bg: var(--dh-color-indigo-700);
  --dh-color-info-key-focus-bg: var(--dh-color-indigo-800);
  --dh-color-info-contrast: var(--dh-color-contrast-dark);

  /* Notice */
  --dh-color-notice: var(--dh-color-yellow-1000);
  --dh-color-notice-bg: var(--dh-color-notice);
  --dh-color-notice-hover-bg: var(--dh-color-yellow-900);
  --dh-color-notice-down-bg: var(--dh-color-yellow-800);
  --dh-color-notice-key-focus-bg: var(--dh-color-yellow-1000);
  --dh-color-notice-contrast: var(--dh-color-contrast-dark);

  /* Editing */
  --dh-color-modified: var(--dh-color-yellow-1300);

  /* Components */
  --dh-toggle-switch-bg: var(--dh-color-gray-500);
}
