/* stylelint-disable custom-property-empty-line-before, color-hex-length */
:root {
  /* Gray */
  --dh-color-gray-50: #1a171a;
  --dh-color-gray-75: #211f22;
  --dh-color-gray-100: #2d2a2e;
  --dh-color-gray-200: #322f33;
  --dh-color-gray-300: #373438;
  --dh-color-gray-400: #403e41;
  --dh-color-gray-500: #5b5a5c;
  --dh-color-gray-600: #929192;
  --dh-color-gray-700: #c0bfbf;
  --dh-color-gray-800: #f0f0ee;
  --dh-color-gray-900: #fcfcfa;

  --dh-color-gray-light: var(--dh-color-gray-900);
  --dh-color-gray-mid: var(--dh-color-gray-600);
  --dh-color-gray-dark: var(--dh-color-gray-300);

  /** Black & White */
  --dh-color-black: var(--dh-color-gray-50);
  --dh-color-white: var(--dh-color-gray-800);
  --dh-color-true-black: #000000;
  --dh-color-true-white: #ffffff;

  /* Reds HSL components */
  --dh-color-red-100: #471521;
  --dh-color-red-200: #5d1b2b;
  --dh-color-red-300: #762336;
  --dh-color-red-400: #912b45;
  --dh-color-red-500: #ab3452;
  --dh-color-red-600: #c73f61;
  --dh-color-red-700: #e14c71;
  --dh-color-red-800: #f85e85;
  --dh-color-red-900: #ff7b9e;
  --dh-color-red-1000: #ff99b6;
  --dh-color-red-1100: #ffb4c9;
  --dh-color-red-1200: #ffcbd9;
  --dh-color-red-1300: #ffdee7;
  --dh-color-red-1400: #ffecf1;

  /* Orange HSL components */
  --dh-color-orange-100: #471800;
  --dh-color-orange-200: #5a2202;
  --dh-color-orange-300: #702f06;
  --dh-color-orange-400: #87390c;
  --dh-color-orange-500: #9f4612;
  --dh-color-orange-600: #b7541b;
  --dh-color-orange-700: #d06425;
  --dh-color-orange-800: #e67533;
  --dh-color-orange-900: #fa8648;
  --dh-color-orange-1000: #ffa069;
  --dh-color-orange-1100: #ffb98d;
  --dh-color-orange-1200: #ffcfaf;
  --dh-color-orange-1300: #ffe0cb;
  --dh-color-orange-1400: #ffeee2;

  /* Yellow HSL components */
  --dh-color-yellow-100: #2e2700;
  --dh-color-yellow-200: #3d3300;
  --dh-color-yellow-300: #4d4100;
  --dh-color-yellow-400: #5f5005;
  --dh-color-yellow-500: #725f0b;
  --dh-color-yellow-600: #856e13;
  --dh-color-yellow-700: #9a811b;
  --dh-color-yellow-800: #ae9024;
  --dh-color-yellow-900: #c3a32f;
  --dh-color-yellow-1000: #d7b53a;
  --dh-color-yellow-1100: #eac448;
  --dh-color-yellow-1200: #fad459;
  --dh-color-yellow-1300: #ffe77a;
  --dh-color-yellow-1400: #fff3ac;

  /* Chartreuse HSL components */
  --dh-color-chartreuse-100: #1f2b00;
  --dh-color-chartreuse-200: #2b3805;
  --dh-color-chartreuse-300: #39470b;
  --dh-color-chartreuse-400: #495611;
  --dh-color-chartreuse-500: #596718;
  --dh-color-chartreuse-600: #69781f;
  --dh-color-chartreuse-700: #7a8927;
  --dh-color-chartreuse-800: #8e9c30;
  --dh-color-chartreuse-900: #a1ae3a;
  --dh-color-chartreuse-1000: #b2c046;
  --dh-color-chartreuse-1100: #c2d153;
  --dh-color-chartreuse-1200: #d5e166;
  --dh-color-chartreuse-1300: #e3ee84;
  --dh-color-chartreuse-1400: #f0f7ae;

  /* Celery HSL components */
  --dh-color-celery-100: #122d15;
  --dh-color-celery-200: #173a1a;
  --dh-color-celery-300: #1e4b22;
  --dh-color-celery-400: #255c2a;
  --dh-color-celery-500: #2d6d32;
  --dh-color-celery-600: #36803d;
  --dh-color-celery-700: #409347;
  --dh-color-celery-800: #4da654;
  --dh-color-celery-900: #5fb967;
  --dh-color-celery-1000: #77ca7e;
  --dh-color-celery-1100: #93d999;
  --dh-color-celery-1200: #b2e5b7;
  --dh-color-celery-1300: #ceeed1;
  --dh-color-celery-1400: #e4f6e6;

  /* Green HSL components */
  --dh-color-green-100: #22291d;
  --dh-color-green-200: #2d3625;
  --dh-color-green-300: #38462d;
  --dh-color-green-400: #445636;
  --dh-color-green-500: #50673d;
  --dh-color-green-600: #5b7a45;
  --dh-color-green-700: #678c4c;
  --dh-color-green-800: #74a053;
  --dh-color-green-900: #81b45a;
  --dh-color-green-1000: #8ec762;
  --dh-color-green-1100: #9bd96c;
  --dh-color-green-1200: #ace97e;
  --dh-color-green-1300: #c3f59d;
  --dh-color-green-1400: #dcfbc2;

  /* Seafoam HSL components */
  --dh-color-seafoam-100: #1f2925;
  --dh-color-seafoam-200: #263630;
  --dh-color-seafoam-300: #2f463e;
  --dh-color-seafoam-400: #37574b;
  --dh-color-seafoam-500: #3e6959;
  --dh-color-seafoam-600: #447b68;
  --dh-color-seafoam-700: #488f79;
  --dh-color-seafoam-800: #4ca388;
  --dh-color-seafoam-900: #4fb798;
  --dh-color-seafoam-1000: #54cba5;
  --dh-color-seafoam-1100: #5edeb8;
  --dh-color-seafoam-1200: #78edc8;
  --dh-color-seafoam-1300: #9ef8d7;
  --dh-color-seafoam-1400: #cbfce8;

  /* Cyan HSL components */
  --dh-color-cyan-100: #142b2d;
  --dh-color-cyan-200: #1a373a;
  --dh-color-cyan-300: #21474b;
  --dh-color-cyan-400: #29585c;
  --dh-color-cyan-500: #31696e;
  --dh-color-cyan-600: #3a7a81;
  --dh-color-cyan-700: #438d94;
  --dh-color-cyan-800: #4da0a8;
  --dh-color-cyan-900: #59b4bc;
  --dh-color-cyan-1000: #65c6cf;
  --dh-color-cyan-1100: #74d6e1;
  --dh-color-cyan-1200: #88e6f1;
  --dh-color-cyan-1300: #a4f2fb;
  --dh-color-cyan-1400: #cafaff;

  /* Blue HSL components */
  --dh-color-blue-100: #112451;
  --dh-color-blue-200: #16306c;
  --dh-color-blue-300: #1d3d88;
  --dh-color-blue-400: #254ba4;
  --dh-color-blue-500: #2f5bc0;
  --dh-color-blue-600: #3b6bda;
  --dh-color-blue-700: #4c7dee;
  --dh-color-blue-800: #6390fa;
  --dh-color-blue-900: #7ca3ff;
  --dh-color-blue-1000: #97b6ff;
  --dh-color-blue-1100: #afc8ff;
  --dh-color-blue-1200: #c7d9ff;
  --dh-color-blue-1300: #dbe6ff;
  --dh-color-blue-1400: #ecf1ff;

  /* Indigo HSL components */
  --dh-color-indigo-100: #1a1e62;
  --dh-color-indigo-200: #252a75;
  --dh-color-indigo-300: #32388a;
  --dh-color-indigo-400: #40489f;
  --dh-color-indigo-500: #4f58b4;
  --dh-color-indigo-600: #5f68c8;
  --dh-color-indigo-700: #707bdb;
  --dh-color-indigo-800: #828ded;
  --dh-color-indigo-900: #959ffa;
  --dh-color-indigo-1000: #aab2ff;
  --dh-color-indigo-1100: #bec5ff;
  --dh-color-indigo-1200: #d2d6ff;
  --dh-color-indigo-1300: #e1e5ff;
  --dh-color-indigo-1400: #eff0ff;

  /* Purple HSL components */
  --dh-color-purple-100: #311067;
  --dh-color-purple-200: #3d1f79;
  --dh-color-purple-300: #4b2f8c;
  --dh-color-purple-400: #5a3f9f;
  --dh-color-purple-500: #6850b1;
  --dh-color-purple-600: #7861c3;
  --dh-color-purple-700: #8873d5;
  --dh-color-purple-800: #9887e5;
  --dh-color-purple-900: #a99af3;
  --dh-color-purple-1000: #b9aefb;
  --dh-color-purple-1100: #cac1fe;
  --dh-color-purple-1200: #dad3ff;
  --dh-color-purple-1300: #e8e3ff;
  --dh-color-purple-1400: #f4effe;

  /* Fuchsia HSL components */
  --dh-color-fuchsia-100: #450f44;
  --dh-color-fuchsia-200: #551a55;
  --dh-color-fuchsia-300: #662969;
  --dh-color-fuchsia-400: #77377e;
  --dh-color-fuchsia-500: #884794;
  --dh-color-fuchsia-600: #9858aa;
  --dh-color-fuchsia-700: #a76bbf;
  --dh-color-fuchsia-800: #b67ed4;
  --dh-color-fuchsia-900: #c592e5;
  --dh-color-fuchsia-1000: #d2a7f0;
  --dh-color-fuchsia-1100: #debcf6;
  --dh-color-fuchsia-1200: #e9cff9;
  --dh-color-fuchsia-1300: #f2e0fb;
  --dh-color-fuchsia-1400: #f9edfc;

  /* Magenta HSL components */
  --dh-color-magenta-100: #520427;
  --dh-color-magenta-200: #641034;
  --dh-color-magenta-300: #791e45;
  --dh-color-magenta-400: #8d2d57;
  --dh-color-magenta-500: #a13c69;
  --dh-color-magenta-600: #b54c7d;
  --dh-color-magenta-700: #ca5d93;
  --dh-color-magenta-800: #dc70a8;
  --dh-color-magenta-900: #ee83ba;
  --dh-color-magenta-1000: #fb99cd;
  --dh-color-magenta-1100: #ffb1dc;
  --dh-color-magenta-1200: #ffc9e7;
  --dh-color-magenta-1300: #ffddf0;
  --dh-color-magenta-1400: #ffecf6;
}
