@import '@deephaven/components/scss/custom.scss';

.rollup-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100%;

  .section-title {
    margin: 0 $spacer-2;
    padding-bottom: 0;
  }

  .top-menu,
  .bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacer-1;
    z-index: 2;

    .btn-link-icon {
      min-width: 1rem;
      padding: 0 $spacer-2;
      margin-right: $spacer-1;
      &:first-of-type {
        margin-left: $spacer-1;
      }

      &.active {
        color: $foreground;
      }
    }

    .label {
      font-weight: 500;
    }
  }

  .bottom-menu {
    margin-left: 0;
    padding-left: $spacer-2;
    border-top: 1px solid var(--dh-color-hr);
    padding-top: $spacer-2;
    .custom-checkbox {
      font-size: smaller;
      margin-left: $spacer-1;
      .custom-control-label {
        padding-top: 2px;
      }
    }
  }

  .item-list-scroll-pane {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .rollup-rows-group-by {
    display: flex;
    flex-direction: column;
    background-color: $gray-800;

    .draggable-item-list {
      flex-grow: 1;
      // group-list-height assigned from JS
      min-height: calc(
        var(--group-list-height) + var(--placeholder-height, 0px)
      );
    }

    .btn-delete-grouping {
      height: 26px;
      margin-right: $spacer-2;
      padding: 0 $spacer-2;
    }

    .placeholder {
      margin: $spacer-2;
      padding: $spacer-3;
      text-align: center;
      border: dashed 1px;
      text-wrap: pretty;
    }
  }

  .rollup-rows-available-columns {
    display: flex;
    flex-direction: column;
    background-color: var(--dh-color-surface);
    flex-grow: 1;
    .draggable-item-list {
      flex-grow: 1;
    }
  }

  &.is-dragging {
    .rollup-rows-group-by {
      .placeholder {
        border: dashed 1px transparent;

        @include ants-base($foreground, $background);

        &.is-dragging-over {
          background-color: var(--dh-color-item-list-selected-hover-bg);
        }
      }

      .item-list-scroll-pane {
        @include ants-base($foreground, $background);
      }

      .draggable-item-list.is-dragging-over {
        .item-list-scroll-pane {
          background-color: var(--dh-color-item-list-selected-hover-bg);
        }

        &:not(.is-dragging-from-this) {
          // placeholder doesn't add height with current AutoSizer
          // so add the height of the placeholder manually
          // rowHeight variable assigned from JS
          --placeholder-height: var(--row-height);
        }
      }
    }

    .rollup-rows-available-columns
      .draggable-item-list:not(.is-dragging-from-this) {
      .item-list-scroll-pane {
        @include ants-base($foreground, $background);
      }

      &.is-dragging-over {
        .item-list-scroll-pane {
          background-color: var(--dh-color-item-list-selected-hover-bg);
        }
      }
    }
  }
}
