@import '@deephaven/components/scss/custom.scss';

$draggable-item-hover-bg: $list-hover;
$draggable-item-selected-bg: $list-selected;
$draggable-item-selected-hover-bg: $list-selected-hover;
$draggable-item-border: $input-border-width solid transparent;
$row-selected-bg-color: $list-selected;

.rollup-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100%;

  .section-title {
    margin: 0 $spacer-2;
    padding-bottom: 0;
  }

  .top-menu,
  .bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacer-1;
    z-index: 2;

    .btn-link-icon {
      min-width: 1rem;
      padding: 0 $spacer-2;
      margin-right: $spacer-1;
      &:first-of-type {
        margin-left: $spacer-1;
      }

      &.active {
        color: $foreground;
      }

      &:hover {
        color: $primary;
      }
    }

    .label {
      font-weight: 500;
    }
  }

  .bottom-menu {
    margin-left: 0;
    padding-left: $spacer-2;
    border-top: 1px solid $background;
    padding-top: $spacer-2;
    .custom-checkbox {
      font-size: smaller;
      margin-left: $spacer-1;
      .custom-control-label {
        padding-top: 2px;
      }
    }
  }

  .item-list-scroll-pane {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .rollup-rows-group-by {
    display: flex;
    flex-direction: column;
    background-color: $gray-800;

    .draggable-item-list {
      flex-grow: 1;
      transition: height $transition;
    }

    .btn-delete-grouping {
      margin-right: $spacer-2;
      padding: 0 $spacer-2;
    }

    .placeholder {
      margin: $spacer-2;
      padding: $spacer-3;
      text-align: center;
      border: dashed 1px;
    }
  }

  .rollup-rows-available-columns {
    display: flex;
    flex-direction: column;
    background-color: $gray-700;
    flex-grow: 1;
    .draggable-item-list {
      flex-grow: 1;
    }
  }

  &.is-dragging {
    .rollup-rows-group-by {
      .placeholder {
        border: dashed 1px transparent;
        @include ants-base($foreground, $background);
      }

      .item-list-scroll-pane {
        @include ants-base($foreground, $background);
      }
    }

    .rollup-rows-available-columns
      .draggable-item-list:not(.is-dragging-from-this) {
      .item-list-scroll-pane {
        @include ants-base($foreground, $background);
      }
    }
  }
}
