@import '~@deephaven/components/scss/custom.scss';

$background: $gray-700;

.custom-column-builder-container {
  .section-title {
    padding: $spacer;
  }

  .droppable-container {
    padding: 1px;
    &.dragging {
      @include ants-base($foreground, $background);
    }
  }

  .draggable-container {
    background: $background;

    .btn-drag-handle {
      cursor: grab;
    }

    &.dragging {
      background: $primary-dark;
      box-shadow: $box-shadow;
    }
  }

  .custom-column-input-container {
    padding: $spacer;
  }

  .error-message {
    color: $danger;
    word-wrap: break-word;
    margin-bottom: $spacer-4;
    font-size: 1rem;
    p {
      margin-bottom: $spacer-1;
    }
    .error-box {
      padding: $spacer-1;
      border-radius: $border-radius;
      background: rgba($danger, $exception-transparency);
    }
  }

  .custom-column-builder-footer {
    margin: $spacer;
    display: flex;
    flex-direction: column;

    .btn-apply {
      min-width: 10rem;
    }
  }

  hr {
    background: $gray-800;
    margin: 0;
    width: 100%;
  }
}
