@import '@deephaven/components/scss/custom.scss';

.csv-progress-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  grid-gap: 10px;
  align-items: center;
  padding: $spacer-2;
  background-color: $primary-dark;

  label {
    margin-bottom: 0;
  }
}

.csv-input-bar-container {
  display: flex;
  background-color: $primary-dark;
  overflow: hidden;

  > * {
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;
    margin-left: $spacer-2;
    margin-right: $spacer-2;
  }

  .form-group label {
    margin-right: $spacer-2;
  }

  .csv-input-buttons {
    flex-flow: row wrap;
    margin-left: auto;
    > *:first-child {
      margin-right: $spacer-1;
    }
  }
}
