@import '@deephaven/components/scss/custom.scss';

.advanced-filter-creator-select-value {
  .select-value-list-scroll-pane {
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    overflow-x: auto;
  }

  .advanced-filter-creator-select-meta-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $spacer-1;
  }

  .row-count-info {
    //same vertical padding as a btn-links that are on the same line
    padding-top: calc(#{$spacer-1} + #{$btn-border-width});
    padding-bottom: calc(#{$spacer-1} + #{$btn-border-width});
    color: $text-muted;
    user-select: none;
  }

  .btn-link {
    color: $foreground;
    text-decoration: underline;
  }

  .btn-link:hover {
    color: $primary;
  }

  .select-value-list-wrapper {
    position: relative;
    display: flex;
    background: $input-bg;

    .value-list-item label {
      white-space: nowrap;
    }

    .loading-list {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .fa-layers {
        margin: auto;
      }
    }
  }
}
