@import '@deephaven/components/scss/custom.scss';

.cross-column-container {
  display: flex;
  flex-direction: row;
  margin: $spacer-1;
  align-items: stretch;
  flex: 0 1 auto;
  .cross-column-search {
    flex: 1;
    margin-right: $spacer-1;
  }
}

.cross-column-popup {
  padding: 0.5rem 1rem 0.1rem;

  .cross-column-scroll {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0;
    overflow-y: auto;
    max-height: 15rem;
    padding: 0.2rem 0.5rem;
    border: $input-border-width solid $input-border-color;
  }
}

.cross-column-button-bar {
  display: flex;
  :last-child {
    margin-left: auto;
  }
}
