@import '../../components/scss/custom.scss';

.iris-grid-bottom-bar.goto-row {
  height: auto;
}

.goto-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $content-bg;
  padding: $spacer-2;
  border-top: $border-width solid black;
  gap: $spacer-2;
  // overflow: hidden;

  input {
    max-width: calc($input-padding-x + 12ch + $input-padding-x);
  }
  .goto-row-wrapper {
    display: flex;
    align-items: center;
    gap: $spacer-2;
    flex-wrap: wrap;
  }
}
