@import '../../components/scss/custom.scss';
@import './IrisGridTheme.module.scss';

$container-height: $row-height - 2 * $btn-border-width;
$btn-height: 13px;
$dot-margin: -2px; // The dots are a bit too far apart by default

.grid-wrapper {
  .overflow-btn-container {
    position: absolute;
    padding: 0 (5px - $btn-border-width) 0 5px; // 5px is the Grid cellHorizontalPadding, but no good way to get it from GridTheme.module.scss
    margin: $btn-border-width;
    height: $container-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn.overflow-btn {
    display: flex;
    height: $btn-height;
    min-width: 0; // Override bootstrap larger btn min-width
    width: 3 * ($btn-height + $dot-margin); // 3 dots
    padding: 0 abs($dot-margin);
    border: 0;
    line-height: 1rem;
    color: $gray-200;
    background-color: $gray-400;
    outline: 1px solid $gray-900;

    &:hover {
      color: $gray-200;
      background-color: $primary-hover;
      border-color: $primary-hover;
    }

    .overflow-icon-container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      align-items: center;

      svg {
        font-size: $btn-height; // Oversizes the dots a bit. Move closer together w/ the -2px horizontal margin below
        margin: 0 -2px;
      }
    }
  }
}
