@import '@deephaven/components/scss/custom.scss';
@import './IrisGridTheme.module.scss';

$iris-grid-bg: $content-bg;
$iris-grid-font:
  12px fira sans,
  sans-serif;
$iris-grid-font-feature-settings: 'tnum';
$table-sidebar-max-width: 320px;
$table-sidebar-bg: $gray-700;
$iris-grid-bar-bg: $primary-dark;
$iris-grid-bar-bg-highlight: $primary;
$iris-grid-bar-max-height: 250px;
$iris-grid-bar-max-width: $table-sidebar-max-width;
$transition-iris-grid-bar-flash: 1s;
$cell-box-shadow:
  0 0 0 2px $selection-outline-color,
  0 0 0 5px rgba($selection-outline-color, 0.25);
$cell-invalid-box-shadow:
  0 0 0 2px $danger,
  0 0 0 5px rgba($danger, 0.25);

.iris-grid {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .iris-grid-column {
    flex: 1 1;
    min-width: 0;
    transition: all $transition-mid;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .table-sidebar {
    height: 100%;
    flex: 0 0 $table-sidebar-max-width;
    width: $table-sidebar-max-width;
    max-width: $table-sidebar-max-width;
    background: $table-sidebar-bg;
    box-shadow: -4px 0 8px rgba($black, 0.45);
    z-index: 1;

    // We have it positioned absolutely while animating, so it slides "overtop" of the grid until it's in place, then resizes the grid
    position: absolute;
    right: 0;

    .pushing-view,
    .popping-view,
    .main-view {
      background: $table-sidebar-bg;
    }

    &.slide-left-enter-done {
      position: relative;
    }

    .navigation-content {
      overflow-y: auto;
    }
  }

  .section-title {
    padding: $spacer 0;
    font-weight: 500;
    text-align: left;
  }

  .section-footer {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacer;
  }

  .grid-wrapper {
    flex: 1 1 0;
    max-width: 100%;
    max-height: 100%;
    // min-width/height used to make sure grid shrinks properly when notification bars are added/resized
    min-width: 0;
    min-height: 0;
    position: relative;
    font: $iris-grid-font;
    font-feature-settings: $iris-grid-font-feature-settings;
    transition: all $transition-mid;

    .grid-settings-button {
      position: absolute;
      top: 0;
      right: 0;
      height: $header-height;
      width: $header-height;
      background-color: $header-bg;
      border-bottom: 1px solid $header-separator-color;
      transition:
        transform $transition-mid ease-out,
        opacity $transition-mid ease-out;

      .btn {
        height: 100%;
        width: 100%;
        &::after {
          border-radius: 0;
        }

        &:focus::after {
          box-shadow: none;
        }
      }

      &.is-menu-shown {
        opacity: 0;
      }
    }

    .grid-cell-input-field {
      color: $gray-200;
      background: $gray-800;

      &:focus {
        box-shadow: $cell-box-shadow;
      }

      &.error {
        color: $danger;
        &:focus {
          box-shadow: $cell-invalid-box-shadow;
        }
      }
    }
  }
}

.iris-grid-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.iris-grid-loading-status {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  min-width: min(320px, 100%);

  .iris-grid-loading-status-bar {
    position: relative;
    padding: 5px;
    background: $content-bg;
    color: $gray-300;
    border-top: 1px solid $gray-500;
    border-right: 1px solid $gray-500;
    overflow: hidden;
    word-wrap: break-word;
    z-index: 2;
    flex-grow: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: -1;
      background: $primary;
      transform-origin: 0% 50%;
      opacity: 0;
    }

    &.show::after {
      opacity: 1;
      animation: 1.5s indeterminateAnimation infinite linear;
    }
  }

  @keyframes indeterminateAnimation {
    0% {
      transform: translateX(-50%) scaleX(0.5);
    }
    50% {
      transform: translateX(0) scaleX(0.5);
    }
    100% {
      transform: translateX(100%) scaleX(0.2);
    }
  }

  .iris-grid-btn-cancel {
    z-index: 1;
    opacity: 0;
    border: 1px solid $gray-500;
    border-left: 0;
    border-bottom: 0;
    padding: 0 7px 2px 4px;
    background: $content-bg;
    color: $gray-300;
    transform: translateX(-100%);
    transition: all 0.1s ease-out 0s;
    white-space: nowrap;
    outline-offset: -1px;
    outline: $primary;
    &:hover {
      color: $foreground;
      background: $danger;
    }
    &:focus {
      outline: 1px solid $primary;
    }
    &:active {
      background: $danger-hover;
      &:focus {
        outline-color: $danger;
      }
    }
  }

  .iris-grid-btn-cancel.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.25s ease-out 0.1s;
  }
}

.advanced-filter-button-container {
  background: none;
  .advanced-filter-button {
    height: 23px;
    margin: 0;

    .filter-solid {
      opacity: 0;
      transition: $transition opacity;
    }
    .filter-light {
      opacity: 1;
      transition: $transition opacity;
    }

    &.filter-set,
    &:hover {
      .filter-solid {
        opacity: 1;
      }
      .filter-light {
        opacity: 0;
      }
    }
    &:hover {
      color: $gray-700;
      .filter-solid {
        color: $primary;
      }
    }
  }
}

.advanced-filter-menu-popper {
  background: $gray-700;
  .popper-content {
    .advanced-filter-creator {
      max-height: 550px;
      overflow-y: auto;
      background: $gray-700;
      width: 320px;
      box-shadow: none;
    }
    .popper-arrow {
      border-color: $gray-700;
    }
  }
}

.advanced-filter-menu-container {
  pointer-events: none;
  visibility: hidden;
}

.iris-grid-bar {
  overflow: hidden;
  flex: 0 0 auto;

  &.iris-grid-bar-horizontal-enter {
    max-height: 0;
  }
  &.iris-grid-bar-horizontal-enter-active {
    transition:
      background-color $transition-iris-grid-bar-flash ease-in,
      max-height $transition ease-in;
    max-height: $iris-grid-bar-max-height;
  }
  &.iris-grid-bar-horizontal-enter-done {
    max-height: $iris-grid-bar-max-height;
  }
  &.iris-grid-bar-horizontal-exit {
    max-height: $iris-grid-bar-max-height;
    transition: max-height $transition ease-out;
  }
  &.iris-grid-bar-horizontal-exit-active,
  &.iris-grid-bar-horizontal-exit-done {
    max-height: 0;
  }

  &.iris-grid-bar-vertical-enter {
    max-width: 0;
  }
  &.iris-grid-bar-vertical-enter-active {
    transition:
      background-color $transition-iris-grid-bar-flash ease-in,
      max-width $transition ease-in;
    max-width: $iris-grid-bar-max-width;
  }
  &.iris-grid-bar-vertical-enter-done {
    max-width: $iris-grid-bar-max-width;
  }
  &.iris-grid-bar-vertical-exit {
    max-width: $iris-grid-bar-max-width;
    transition: max-width $transition ease-out;
  }
  &.iris-grid-bar-vertical-exit-active,
  &.iris-grid-bar-vertical-exit-done {
    max-width: 0;
  }
}

.iris-grid-bar-primary {
  background-color: $iris-grid-bar-bg;

  &.iris-grid-bar-horizontal-enter,
  &.iris-grid-bar-vertical-enter {
    background-color: $iris-grid-bar-bg-highlight;
  }
}

.link-hover-tooltip {
  text-align: left;
  max-width: 500px;
  overflow-wrap: break-word;
}
