@import '@deephaven/components/scss/custom.scss';
$partition-selector-color: $gray-400;
.iris-grid-partition-selector {
  display: flex;
  flex-wrap: wrap;
  background: $gray-850;
  vertical-align: middle;
  padding: 0.2em 0 0.2em 0;
  .table-name {
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    white-space: nowrap;
  }
  .column-name {
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    white-space: nowrap;
  }
  .column-selector {
    display: flex;
    width: auto;
    align-items: center;
  }
  .iris-grid-partition-selector-spacer {
    flex-grow: 1;
  }
  .partition-button-group {
    border: 1px $gray-900;
    border-style: none solid none solid;
    padding: 0 0.3em 0 0.3em;
    .btn {
      color: $white;
      background-color: $gray-900;
      border-color: $gray-400;
      border-radius: 3px;
      margin: 0.3em 0.3em;
      padding: 0.25em 0.5em;
    }
  }
}
