/* stylelint-disable */
@import '@deephaven/components/scss/custom.scss';

$selection-color: $blue;
$selection-outline-color: $blue;
$selection-outline-casing-color: $gray-900;
$font-size: 12px;
$row-height: 19px;
$row-hover-bg: $blue;
$header-bg: $content-bg;
$header-separator-color: $gray-900;
$header-height: 30px;
