@import '@deephaven/components/scss/custom.scss';
.iris-grid-partition-selector {
  display: flex;
  flex-wrap: wrap;
  background: var(--dh-color-surface-bg);
  align-items: center;
  padding: $spacer-2;
  gap: $spacer-2;

  .column-selector {
    display: flex;
    align-items: center;
    gap: $spacer-2;

    .custom-select {
      min-width: 4rem;
    }
  }
  .partition-button-group {
    display: flex;
    border-right: 1px solid var(--dh-color-hr);
    padding-right: $spacer-2;
    gap: $spacer-2;
  }
}
