/**
 * Example of 3 custom themes. 
 * Note the optional `--dh-base-theme` variable that specifies the base default 
 * theme to inherit from. If not provided, defaults to `default-dark`.
 */

.dh-theme-custom-aaa {
  --dh-base-theme: default-dark;

  /* Semantic */
  --dh-semantic-background-color: rgb(29, 11, 146);
  --dh-semantic-foreground-color: rgb(126, 7, 7);
}

.dh-theme-custom-bbb {
  --dh-base-theme: default-light;

  /* Semantic */
  --dh-semantic-foreground-color: #d5ea1e;
}

.dh-theme-custom-ccc {
  --dh-color-gray-50: orange;
  --dh-semantic-grid-background-color: var(--dh-colorseafoam-900);
}
