.grid-wrapper {
  flex: 1 1 0;
  max-width: 100%;
  max-height: 100%;
  // min-width/height used to make sure grid shrinks properly when notification bars are added/resized
  min-width: 0;
  min-height: 0;
  position: relative;
  font-family: sans-serif;
  font-feature-settings: 'tnum';
}

.grid-canvas {
  display: block;
}
.grid-canvas:focus {
  outline: none;
}
.grid-cursor-default {
  cursor: default;
}
.grid-cursor-move {
  cursor: grabbing;
}
.grid-cursor-not-allowed {
  cursor: not-allowed;
}
.grid-cursor-s-resize {
  cursor: s-resize;
}
.grid-cursor-row-resize {
  cursor: row-resize;
}
.grid-cursor-e-resize {
  cursor: e-resize;
}
.grid-cursor-col-resize {
  cursor: col-resize;
}
.grid-cursor-pointer {
  cursor: pointer;
}
.grid-block-events {
  pointer-events: none;
}
