@import '@deephaven/components/scss/custom.scss';

.conditional-format-editor {
  padding: $spacer-3;

  .formatter-list {
    display: flex;
    justify-content: flex-start;
    padding-top: $spacer-2;
  }

  .formatter-type {
    margin: 0 $spacer-3 0 0;
    display: flex;
  }

  .btn-formatter-type {
    font-size: smaller;
    width: 100%;
  }

  .color-select {
    padding: 0 2em 0 0.25em;
  }

  .dh-combobox {
    width: 100%;
  }

  .error-message {
    color: $danger;
    word-wrap: break-word;
    margin-bottom: $spacer-4;
    font-size: 1rem;
    p {
      margin-bottom: $spacer-1;
    }
    .error-box {
      padding: $spacer-1;
      border-radius: $border-radius;
      background: color-mix(
        in srgb,
        var(--dh-color-negative) $exception-transparency,
        transparent
      );
    }
  }
}
