@import '@deephaven/components/scss/custom.scss';

.conditional-formatting-rules {
  padding: $spacer-1;
}

.conditional-formatting-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 0 $spacer-1;

  &:first-child {
    padding-top: $spacer-1;
  }

  .formatting-item {
    border-radius: $border-radius;
    display: flex;
    padding: $spacer-1;
    flex-grow: 1;
    align-items: center;
    user-select: none;
    transition: $btn-transition;
    border: $input-border-width solid transparent;
    line-height: $btn-line-height;
    cursor: pointer;

    .btn-drag-handle {
      cursor: grab;
    }

    .rule-icon {
      padding-right: $spacer-2;
    }

    .rule-icon-bg {
      min-width: 2rem;
      height: 2rem;
      display: flex;
      font-size: x-small;
      justify-content: center;
      align-items: center;
    }

    .rule-title {
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding-right: 2px;
      display: flex;
      flex-grow: 1;
    }

    &:focus {
      outline: 0;
      border: $input-border-width solid $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
    }

    &:hover {
      background: $gray-500;
    }
  }
}
