/* stylelint-disable custom-property-empty-line-before */
:root {
  /* Gray */
  --dh-color-gray-50-hsl: 0, 0%, 100%;
  --dh-color-gray-75-hsl: 0, 0%, 98.22%;
  --dh-color-gray-100-hsl: 0, 0%, 96.85%;
  --dh-color-gray-200-hsl: 0, 0%, 93.2%;
  --dh-color-gray-300-hsl: 0, 0%, 85.53%;
  --dh-color-gray-400-hsl: 0, 0%, 72.41%;
  --dh-color-gray-500-hsl: 0, 0%, 58.47%;
  --dh-color-gray-600-hsl: 0, 0%, 44.75%;
  --dh-color-gray-700-hsl: 0, 0%, 27.45%;
  --dh-color-gray-800-hsl: 0, 0%, 13.33%;
  --dh-color-gray-900-hsl: 0, 0%, 0%;

  --dh-color-gray-light-hsl: var(--dh-color-gray-900-hsl);
  --dh-color-gray-mid-hsl: var(--dh-color-gray-600-hsl);
  --dh-color-gray-dark-hsl: var(--dh-color-gray-300-hsl);

  /** Black & White */
  --dh-color-black-hsl: var(--dh-color-gray-900-hsl);
  --dh-color-white-hsl: var(--dh-color-gray-75-hsl);
  --dh-color-true-black-hsl: 0deg, 0%, 0%;
  --dh-color-true-white-hsl: 0deg, 0%, 100%;

  --dh-color-red-100-hsl: 10, 100%, 95.29%;
  --dh-color-red-200-hsl: 10.24, 100%, 91.96%;
  --dh-color-red-300-hsl: 10, 100%, 88.24%;
  --dh-color-red-400-hsl: 9.77, 100%, 83.14%;
  --dh-color-red-500-hsl: 9.58, 100%, 76.67%;
  --dh-color-red-600-hsl: 8.96, 100%, 69.8%;
  --dh-color-red-700-hsl: 7.46, 91.71%, 62.16%;
  --dh-color-red-800-hsl: 4.66, 82.13%, 53.92%;
  --dh-color-red-900-hsl: 1.54, 85.9%, 44.51%;
  --dh-color-red-1000-hsl: 0, 100%, 35.29%;
  --dh-color-red-1100-hsl: 0, 100%, 28.82%;
  --dh-color-red-1200-hsl: 0, 100%, 22.75%;
  --dh-color-red-1300-hsl: 0, 100%, 17.45%;
  --dh-color-red-1400-hsl: 0, 100%, 13.14%;
  --dh-color-orange-100-hsl: 37.65, 100%, 90%;
  --dh-color-orange-200-hsl: 36.59, 100%, 83.92%;
  --dh-color-orange-300-hsl: 36.11, 96.43%, 78.04%;
  --dh-color-orange-400-hsl: 33.85, 100%, 69.41%;
  --dh-color-orange-500-hsl: 31.5, 100%, 60.78%;
  --dh-color-orange-600-hsl: 30.39, 92.71%, 51.57%;
  --dh-color-orange-700-hsl: 29.21, 100%, 44.71%;
  --dh-color-orange-800-hsl: 27.49, 100%, 39.8%;
  --dh-color-orange-900-hsl: 25.76, 100%, 34.71%;
  --dh-color-orange-1000-hsl: 24.56, 100%, 29.22%;
  --dh-color-orange-1100-hsl: 23.11, 100%, 23.92%;
  --dh-color-orange-1200-hsl: 21.65, 100%, 19.02%;
  --dh-color-orange-1300-hsl: 20, 97.3%, 14.51%;
  --dh-color-orange-1400-hsl: 19.62, 96.3%, 10.59%;
  --dh-color-yellow-100-hsl: 53.94, 92.52%, 79.02%;
  --dh-color-yellow-200-hsl: 53.93, 92.31%, 64.31%;
  --dh-color-yellow-300-hsl: 52.38, 96.83%, 49.41%;
  --dh-color-yellow-400-hsl: 51.21, 100%, 45.49%;
  --dh-color-yellow-500-hsl: 49.95, 100%, 42.16%;
  --dh-color-yellow-600-hsl: 48.67, 100%, 38.43%;
  --dh-color-yellow-700-hsl: 47.73, 100%, 34.51%;
  --dh-color-yellow-800-hsl: 46.45, 100%, 30.39%;
  --dh-color-yellow-900-hsl: 46.02, 100%, 26.08%;
  --dh-color-yellow-1000-hsl: 44.46, 100%, 21.96%;
  --dh-color-yellow-1100-hsl: 44.18, 100%, 17.84%;
  --dh-color-yellow-1200-hsl: 42.5, 100%, 14.12%;
  --dh-color-yellow-1300-hsl: 41.11, 100%, 10.59%;
  --dh-color-yellow-1400-hsl: 39, 100%, 7.84%;
  --dh-color-chartreuse-100-hsl: 73.94, 95.95%, 70.98%;
  --dh-color-chartreuse-200-hsl: 73.9, 88.94%, 60.98%;
  --dh-color-chartreuse-300-hsl: 74.14, 81.28%, 53.92%;
  --dh-color-chartreuse-400-hsl: 74.23, 81.51%, 46.67%;
  --dh-color-chartreuse-500-hsl: 74.44, 90.34%, 40.59%;
  --dh-color-chartreuse-600-hsl: 74.48, 96.67%, 35.29%;
  --dh-color-chartreuse-700-hsl: 74.62, 100%, 30.59%;
  --dh-color-chartreuse-800-hsl: 74.56, 100%, 26.67%;
  --dh-color-chartreuse-900-hsl: 75, 100%, 22.75%;
  --dh-color-chartreuse-1000-hsl: 75, 100%, 18.82%;
  --dh-color-chartreuse-1100-hsl: 74.81, 100%, 15.1%;
  --dh-color-chartreuse-1200-hsl: 75.25, 100%, 11.57%;
  --dh-color-chartreuse-1300-hsl: 75, 100%, 8.63%;
  --dh-color-chartreuse-1400-hsl: 73.55, 100%, 6.08%;
  --dh-color-celery-100-hsl: 106.23, 91.04%, 86.86%;
  --dh-color-celery-200-hsl: 108.54, 83.18%, 79.02%;
  --dh-color-celery-300-hsl: 110.29, 75.54%, 72.75%;
  --dh-color-celery-400-hsl: 115.93, 65.56%, 64.71%;
  --dh-color-celery-500-hsl: 120.93, 57.33%, 55.88%;
  --dh-color-celery-600-hsl: 126.08, 65.49%, 44.31%;
  --dh-color-celery-700-hsl: 129.75, 91.95%, 34.12%;
  --dh-color-celery-800-hsl: 127.45, 100%, 28.43%;
  --dh-color-celery-900-hsl: 127.26, 100%, 24.31%;
  --dh-color-celery-1000-hsl: 128.74, 100%, 20.2%;
  --dh-color-celery-1100-hsl: 129.4, 100%, 16.27%;
  --dh-color-celery-1200-hsl: 129.38, 100%, 12.55%;
  --dh-color-celery-1300-hsl: 128.75, 100%, 9.41%;
  --dh-color-celery-1400-hsl: 128.82, 100%, 6.67%;
  --dh-color-green-100-hsl: 145.71, 75%, 89.02%;
  --dh-color-green-200-hsl: 147.89, 76.34%, 81.76%;
  --dh-color-green-300-hsl: 150.91, 72.26%, 73.14%;
  --dh-color-green-400-hsl: 152.77, 64.32%, 63.73%;
  --dh-color-green-500-hsl: 153.89, 56.22%, 54.31%;
  --dh-color-green-600-hsl: 155.47, 59.31%, 45.29%;
  --dh-color-green-700-hsl: 157.34, 77.3%, 36.27%;
  --dh-color-green-800-hsl: 159.02, 100%, 28.04%;
  --dh-color-green-900-hsl: 157.87, 100%, 23.92%;
  --dh-color-green-1000-hsl: 156.83, 100%, 19.8%;
  --dh-color-green-1100-hsl: 157.04, 100%, 15.88%;
  --dh-color-green-1200-hsl: 155.17, 85.29%, 13.33%;
  --dh-color-green-1300-hsl: 151.67, 64.29%, 10.98%;
  --dh-color-green-1400-hsl: 150, 52.38%, 8.24%;
  --dh-color-seafoam-100-hsl: 174.15, 71.93%, 88.82%;
  --dh-color-seafoam-200-hsl: 174.08, 71.72%, 80.59%;
  --dh-color-seafoam-300-hsl: 175.48, 67.88%, 73.14%;
  --dh-color-seafoam-400-hsl: 175.9, 61.26%, 62.55%;
  --dh-color-seafoam-500-hsl: 176.52, 56.1%, 51.76%;
  --dh-color-seafoam-600-hsl: 177.47, 84.69%, 38.43%;
  --dh-color-seafoam-700-hsl: 177.39, 100%, 31.57%;
  --dh-color-seafoam-800-hsl: 177.86, 100%, 27.45%;
  --dh-color-seafoam-900-hsl: 177.48, 100%, 23.33%;
  --dh-color-seafoam-1000-hsl: 177.58, 100%, 19.41%;
  --dh-color-seafoam-1100-hsl: 177.31, 73.63%, 17.84%;
  --dh-color-seafoam-1200-hsl: 177.14, 53.85%, 15.29%;
  --dh-color-seafoam-1300-hsl: 177.69, 41.94%, 12.16%;
  --dh-color-seafoam-1400-hsl: 176.25, 34.78%, 9.02%;
  --dh-color-cyan-100-hsl: 187.24, 100%, 88.63%;
  --dh-color-cyan-200-hsl: 189.89, 100%, 82.16%;
  --dh-color-cyan-300-hsl: 190, 91.94%, 75.69%;
  --dh-color-cyan-400-hsl: 191.02, 85.96%, 66.47%;
  --dh-color-cyan-500-hsl: 191.6, 79.74%, 55.49%;
  --dh-color-cyan-600-hsl: 192.6, 84.75%, 46.27%;
  --dh-color-cyan-700-hsl: 193.27, 99%, 39.41%;
  --dh-color-cyan-800-hsl: 195.33, 100%, 35.29%;
  --dh-color-cyan-900-hsl: 197.36, 100%, 31.18%;
  --dh-color-cyan-1000-hsl: 199.27, 100%, 26.86%;
  --dh-color-cyan-1100-hsl: 201.39, 100%, 22.55%;
  --dh-color-cyan-1200-hsl: 203.23, 100%, 18.24%;
  --dh-color-cyan-1300-hsl: 204, 100%, 13.73%;
  --dh-color-cyan-1400-hsl: 204.71, 100%, 10%;
  --dh-color-blue-100-hsl: 205.16, 100%, 93.92%;
  --dh-color-blue-200-hsl: 206.04, 100%, 89.61%;
  --dh-color-blue-300-hsl: 206.76, 100%, 85.49%;
  --dh-color-blue-400-hsl: 207.38, 96.26%, 79.02%;
  --dh-color-blue-500-hsl: 209.08, 92.86%, 72.55%;
  --dh-color-blue-600-hsl: 210.19, 89.71%, 65.69%;
  --dh-color-blue-700-hsl: 211.12, 88.63%, 58.63%;
  --dh-color-blue-800-hsl: 212.56, 90.28%, 51.57%;
  --dh-color-blue-900-hsl: 212.75, 98.2%, 43.53%;
  --dh-color-blue-1000-hsl: 212.31, 100%, 35.69%;
  --dh-color-blue-1100-hsl: 211.86, 100%, 28.43%;
  --dh-color-blue-1200-hsl: 211.86, 100%, 22.16%;
  --dh-color-blue-1300-hsl: 212.14, 100%, 16.47%;
  --dh-color-blue-1400-hsl: 212, 100%, 11.76%;
  --dh-color-indigo-100-hsl: 236.67, 100%, 96.47%;
  --dh-color-indigo-200-hsl: 236.13, 100%, 93.92%;
  --dh-color-indigo-300-hsl: 237.27, 100%, 91.37%;
  --dh-color-indigo-400-hsl: 237.1, 100%, 87.84%;
  --dh-color-indigo-500-hsl: 237.83, 100%, 83.73%;
  --dh-color-indigo-600-hsl: 237.74, 100%, 79.22%;
  --dh-color-indigo-700-hsl: 237.14, 95.45%, 74.12%;
  --dh-color-indigo-800-hsl: 237.86, 86.42%, 68.24%;
  --dh-color-indigo-900-hsl: 237.53, 73%, 60.78%;
  --dh-color-indigo-1000-hsl: 237.39, 56.56%, 52.16%;
  --dh-color-indigo-1100-hsl: 237.97, 54.13%, 42.75%;
  --dh-color-indigo-1200-hsl: 238.13, 55.81%, 33.73%;
  --dh-color-indigo-1300-hsl: 237.53, 57.48%, 24.9%;
  --dh-color-indigo-1400-hsl: 237.69, 56.52%, 18.04%;
  --dh-color-purple-100-hsl: 273, 100%, 96.08%;
  --dh-color-purple-200-hsl: 270, 100%, 93.33%;
  --dh-color-purple-300-hsl: 268.09, 100%, 90.78%;
  --dh-color-purple-400-hsl: 268.66, 97.1%, 86.47%;
  --dh-color-purple-500-hsl: 266.97, 95.7%, 81.76%;
  --dh-color-purple-600-hsl: 266.55, 94.96%, 76.67%;
  --dh-color-purple-700-hsl: 266.67, 91.84%, 71.18%;
  --dh-color-purple-800-hsl: 266.75, 87.71%, 64.9%;
  --dh-color-purple-900-hsl: 266.82, 77.98%, 57.25%;
  --dh-color-purple-1000-hsl: 266.71, 69.48%, 48.82%;
  --dh-color-purple-1100-hsl: 267.07, 81.19%, 39.61%;
  --dh-color-purple-1200-hsl: 266.03, 85%, 31.37%;
  --dh-color-purple-1300-hsl: 263.33, 73.77%, 23.92%;
  --dh-color-purple-1400-hsl: 260.69, 65.91%, 17.25%;
  --dh-color-fuchsia-100-hsl: 308.18, 100%, 95.69%;
  --dh-color-fuchsia-200-hsl: 308.11, 100%, 92.75%;
  --dh-color-fuchsia-300-hsl: 306.55, 96.49%, 88.82%;
  --dh-color-fuchsia-400-hsl: 303.9, 90.59%, 83.33%;
  --dh-color-fuchsia-500-hsl: 301.21, 83.19%, 76.67%;
  --dh-color-fuchsia-600-hsl: 300, 77.07%, 69.22%;
  --dh-color-fuchsia-700-hsl: 299.15, 70.85%, 60.98%;
  --dh-color-fuchsia-800-hsl: 299.59, 60.16%, 51.76%;
  --dh-color-fuchsia-900-hsl: 299.6, 68.66%, 42.55%;
  --dh-color-fuchsia-1000-hsl: 299.61, 96.27%, 31.57%;
  --dh-color-fuchsia-1100-hsl: 299.53, 100%, 25.29%;
  --dh-color-fuchsia-1200-hsl: 300, 88.68%, 20.78%;
  --dh-color-fuchsia-1300-hsl: 301.05, 67.06%, 16.67%;
  --dh-color-fuchsia-1400-hsl: 301.62, 58.73%, 12.35%;
  --dh-color-magenta-100-hsl: 340, 100%, 95.88%;
  --dh-color-magenta-200-hsl: 339.43, 100%, 93.14%;
  --dh-color-magenta-300-hsl: 338.49, 100%, 89.61%;
  --dh-color-magenta-400-hsl: 338.18, 100%, 84.9%;
  --dh-color-magenta-500-hsl: 337.36, 100%, 79.22%;
  --dh-color-magenta-600-hsl: 336.64, 92.91%, 72.35%;
  --dh-color-magenta-700-hsl: 335.03, 82.32%, 64.51%;
  --dh-color-magenta-800-hsl: 334.29, 70.93%, 55.49%;
  --dh-color-magenta-900-hsl: 334.34, 70.94%, 45.88%;
  --dh-color-magenta-1000-hsl: 332.2, 90.11%, 35.69%;
  --dh-color-magenta-1100-hsl: 330.85, 100%, 27.84%;
  --dh-color-magenta-1200-hsl: 330.54, 100%, 21.96%;
  --dh-color-magenta-1300-hsl: 331.11, 93.1%, 17.06%;
  --dh-color-magenta-1400-hsl: 334.44, 81.82%, 12.94%;

  /* Grays */
  --dh-color-gray-50: hsl(var(--dh-color-gray-50-hsl));
  --dh-color-gray-75: hsl(var(--dh-color-gray-75-hsl));
  --dh-color-gray-100: hsl(var(--dh-color-gray-100-hsl));
  --dh-color-gray-200: hsl(var(--dh-color-gray-200-hsl));
  --dh-color-gray-300: hsl(var(--dh-color-gray-300-hsl));
  --dh-color-gray-400: hsl(var(--dh-color-gray-400-hsl));
  --dh-color-gray-500: hsl(var(--dh-color-gray-500-hsl));
  --dh-color-gray-600: hsl(var(--dh-color-gray-600-hsl));
  --dh-color-gray-700: hsl(var(--dh-color-gray-700-hsl));
  --dh-color-gray-800: hsl(var(--dh-color-gray-800-hsl));
  --dh-color-gray-900: hsl(var(--dh-color-gray-900-hsl));

  --dh-color-gray-light: hsl(var(--dh-color-gray-light-hsl));
  --dh-color-gray-mid: hsl(var(--dh-color-gray-mid-hsl));
  --dh-color-gray-dark: hsl(var(--dh-color-gray-dark-hsl));

  /** Black & White */
  --dh-color-black: hsl(var(--dh-color-black-hsl));
  --dh-color-white: hsl(var(--dh-color-white-hsl));

  /* Red */
  --dh-color-red-100: hsl(var(--dh-color-red-100-hsl));
  --dh-color-red-200: hsl(var(--dh-color-red-200-hsl));
  --dh-color-red-300: hsl(var(--dh-color-red-300-hsl));
  --dh-color-red-400: hsl(var(--dh-color-red-400-hsl));
  --dh-color-red-500: hsl(var(--dh-color-red-500-hsl));
  --dh-color-red-600: hsl(var(--dh-color-red-600-hsl));
  --dh-color-red-700: hsl(var(--dh-color-red-700-hsl));
  --dh-color-red-800: hsl(var(--dh-color-red-800-hsl));
  --dh-color-red-900: hsl(var(--dh-color-red-900-hsl));
  --dh-color-red-1000: hsl(var(--dh-color-red-1000-hsl));
  --dh-color-red-1100: hsl(var(--dh-color-red-1100-hsl));
  --dh-color-red-1200: hsl(var(--dh-color-red-1200-hsl));
  --dh-color-red-1300: hsl(var(--dh-color-red-1300-hsl));
  --dh-color-red-1400: hsl(var(--dh-color-red-1400-hsl));

  /* Orange */
  --dh-color-orange-100: hsl(var(--dh-color-orange-100-hsl));
  --dh-color-orange-200: hsl(var(--dh-color-orange-200-hsl));
  --dh-color-orange-300: hsl(var(--dh-color-orange-300-hsl));
  --dh-color-orange-400: hsl(var(--dh-color-orange-400-hsl));
  --dh-color-orange-500: hsl(var(--dh-color-orange-500-hsl));
  --dh-color-orange-600: hsl(var(--dh-color-orange-600-hsl));
  --dh-color-orange-700: hsl(var(--dh-color-orange-700-hsl));
  --dh-color-orange-800: hsl(var(--dh-color-orange-800-hsl));
  --dh-color-orange-900: hsl(var(--dh-color-orange-900-hsl));
  --dh-color-orange-1000: hsl(var(--dh-color-orange-1000-hsl));
  --dh-color-orange-1100: hsl(var(--dh-color-orange-1100-hsl));
  --dh-color-orange-1200: hsl(var(--dh-color-orange-1200-hsl));
  --dh-color-orange-1300: hsl(var(--dh-color-orange-1300-hsl));
  --dh-color-orange-1400: hsl(var(--dh-color-orange-1400-hsl));

  /* Yellow */
  --dh-color-yellow-100: hsl(var(--dh-color-yellow-100-hsl));
  --dh-color-yellow-200: hsl(var(--dh-color-yellow-200-hsl));
  --dh-color-yellow-300: hsl(var(--dh-color-yellow-300-hsl));
  --dh-color-yellow-400: hsl(var(--dh-color-yellow-400-hsl));
  --dh-color-yellow-500: hsl(var(--dh-color-yellow-500-hsl));
  --dh-color-yellow-600: hsl(var(--dh-color-yellow-600-hsl));
  --dh-color-yellow-700: hsl(var(--dh-color-yellow-700-hsl));
  --dh-color-yellow-800: hsl(var(--dh-color-yellow-800-hsl));
  --dh-color-yellow-900: hsl(var(--dh-color-yellow-900-hsl));
  --dh-color-yellow-1000: hsl(var(--dh-color-yellow-1000-hsl));
  --dh-color-yellow-1100: hsl(var(--dh-color-yellow-1100-hsl));
  --dh-color-yellow-1200: hsl(var(--dh-color-yellow-1200-hsl));
  --dh-color-yellow-1300: hsl(var(--dh-color-yellow-1300-hsl));
  --dh-color-yellow-1400: hsl(var(--dh-color-yellow-1400-hsl));

  /* Chartreuse */
  --dh-color-chartreuse-100: hsl(var(--dh-color-chartreuse-100-hsl));
  --dh-color-chartreuse-200: hsl(var(--dh-color-chartreuse-200-hsl));
  --dh-color-chartreuse-300: hsl(var(--dh-color-chartreuse-300-hsl));
  --dh-color-chartreuse-400: hsl(var(--dh-color-chartreuse-400-hsl));
  --dh-color-chartreuse-500: hsl(var(--dh-color-chartreuse-500-hsl));
  --dh-color-chartreuse-600: hsl(var(--dh-color-chartreuse-600-hsl));
  --dh-color-chartreuse-700: hsl(var(--dh-color-chartreuse-700-hsl));
  --dh-color-chartreuse-800: hsl(var(--dh-color-chartreuse-800-hsl));
  --dh-color-chartreuse-900: hsl(var(--dh-color-chartreuse-900-hsl));
  --dh-color-chartreuse-1000: hsl(var(--dh-color-chartreuse-1000-hsl));
  --dh-color-chartreuse-1100: hsl(var(--dh-color-chartreuse-1100-hsl));
  --dh-color-chartreuse-1200: hsl(var(--dh-color-chartreuse-1200-hsl));
  --dh-color-chartreuse-1300: hsl(var(--dh-color-chartreuse-1300-hsl));
  --dh-color-chartreuse-1400: hsl(var(--dh-color-chartreuse-1400-hsl));

  /* Celery */
  --dh-color-celery-100: hsl(var(--dh-color-celery-100-hsl));
  --dh-color-celery-200: hsl(var(--dh-color-celery-200-hsl));
  --dh-color-celery-300: hsl(var(--dh-color-celery-300-hsl));
  --dh-color-celery-400: hsl(var(--dh-color-celery-400-hsl));
  --dh-color-celery-500: hsl(var(--dh-color-celery-500-hsl));
  --dh-color-celery-600: hsl(var(--dh-color-celery-600-hsl));
  --dh-color-celery-700: hsl(var(--dh-color-celery-700-hsl));
  --dh-color-celery-800: hsl(var(--dh-color-celery-800-hsl));
  --dh-color-celery-900: hsl(var(--dh-color-celery-900-hsl));
  --dh-color-celery-1000: hsl(var(--dh-color-celery-1000-hsl));
  --dh-color-celery-1100: hsl(var(--dh-color-celery-1100-hsl));
  --dh-color-celery-1200: hsl(var(--dh-color-celery-1200-hsl));
  --dh-color-celery-1300: hsl(var(--dh-color-celery-1300-hsl));
  --dh-color-celery-1400: hsl(var(--dh-color-celery-1400-hsl));

  /* Green */
  --dh-color-green-100: hsl(var(--dh-color-green-100-hsl));
  --dh-color-green-200: hsl(var(--dh-color-green-200-hsl));
  --dh-color-green-300: hsl(var(--dh-color-green-300-hsl));
  --dh-color-green-400: hsl(var(--dh-color-green-400-hsl));
  --dh-color-green-500: hsl(var(--dh-color-green-500-hsl));
  --dh-color-green-600: hsl(var(--dh-color-green-600-hsl));
  --dh-color-green-700: hsl(var(--dh-color-green-700-hsl));
  --dh-color-green-800: hsl(var(--dh-color-green-800-hsl));
  --dh-color-green-900: hsl(var(--dh-color-green-900-hsl));
  --dh-color-green-1000: hsl(var(--dh-color-green-1000-hsl));
  --dh-color-green-1100: hsl(var(--dh-color-green-1100-hsl));
  --dh-color-green-1200: hsl(var(--dh-color-green-1200-hsl));
  --dh-color-green-1300: hsl(var(--dh-color-green-1300-hsl));
  --dh-color-green-1400: hsl(var(--dh-color-green-1400-hsl));

  /* Seafoam */
  --dh-color-seafoam-100: hsl(var(--dh-color-seafoam-100-hsl));
  --dh-color-seafoam-200: hsl(var(--dh-color-seafoam-200-hsl));
  --dh-color-seafoam-300: hsl(var(--dh-color-seafoam-300-hsl));
  --dh-color-seafoam-400: hsl(var(--dh-color-seafoam-400-hsl));
  --dh-color-seafoam-500: hsl(var(--dh-color-seafoam-500-hsl));
  --dh-color-seafoam-600: hsl(var(--dh-color-seafoam-600-hsl));
  --dh-color-seafoam-700: hsl(var(--dh-color-seafoam-700-hsl));
  --dh-color-seafoam-800: hsl(var(--dh-color-seafoam-800-hsl));
  --dh-color-seafoam-900: hsl(var(--dh-color-seafoam-900-hsl));
  --dh-color-seafoam-1000: hsl(var(--dh-color-seafoam-1000-hsl));
  --dh-color-seafoam-1100: hsl(var(--dh-color-seafoam-1100-hsl));
  --dh-color-seafoam-1200: hsl(var(--dh-color-seafoam-1200-hsl));
  --dh-color-seafoam-1300: hsl(var(--dh-color-seafoam-1300-hsl));
  --dh-color-seafoam-1400: hsl(var(--dh-color-seafoam-1400-hsl));

  /* Cyan */
  --dh-color-cyan-100: hsl(var(--dh-color-cyan-100-hsl));
  --dh-color-cyan-200: hsl(var(--dh-color-cyan-200-hsl));
  --dh-color-cyan-300: hsl(var(--dh-color-cyan-300-hsl));
  --dh-color-cyan-400: hsl(var(--dh-color-cyan-400-hsl));
  --dh-color-cyan-500: hsl(var(--dh-color-cyan-500-hsl));
  --dh-color-cyan-600: hsl(var(--dh-color-cyan-600-hsl));
  --dh-color-cyan-700: hsl(var(--dh-color-cyan-700-hsl));
  --dh-color-cyan-800: hsl(var(--dh-color-cyan-800-hsl));
  --dh-color-cyan-900: hsl(var(--dh-color-cyan-900-hsl));
  --dh-color-cyan-1000: hsl(var(--dh-color-cyan-1000-hsl));
  --dh-color-cyan-1100: hsl(var(--dh-color-cyan-1100-hsl));
  --dh-color-cyan-1200: hsl(var(--dh-color-cyan-1200-hsl));
  --dh-color-cyan-1300: hsl(var(--dh-color-cyan-1300-hsl));
  --dh-color-cyan-1400: hsl(var(--dh-color-cyan-1400-hsl));

  /* Blue */
  --dh-color-blue-100: hsl(var(--dh-color-blue-100-hsl));
  --dh-color-blue-200: hsl(var(--dh-color-blue-200-hsl));
  --dh-color-blue-300: hsl(var(--dh-color-blue-300-hsl));
  --dh-color-blue-400: hsl(var(--dh-color-blue-400-hsl));
  --dh-color-blue-500: hsl(var(--dh-color-blue-500-hsl));
  --dh-color-blue-600: hsl(var(--dh-color-blue-600-hsl));
  --dh-color-blue-700: hsl(var(--dh-color-blue-700-hsl));
  --dh-color-blue-800: hsl(var(--dh-color-blue-800-hsl));
  --dh-color-blue-900: hsl(var(--dh-color-blue-900-hsl));
  --dh-color-blue-1000: hsl(var(--dh-color-blue-1000-hsl));
  --dh-color-blue-1100: hsl(var(--dh-color-blue-1100-hsl));
  --dh-color-blue-1200: hsl(var(--dh-color-blue-1200-hsl));
  --dh-color-blue-1300: hsl(var(--dh-color-blue-1300-hsl));
  --dh-color-blue-1400: hsl(var(--dh-color-blue-1400-hsl));

  /* Indigo */
  --dh-color-indigo-100: hsl(var(--dh-color-indigo-100-hsl));
  --dh-color-indigo-200: hsl(var(--dh-color-indigo-200-hsl));
  --dh-color-indigo-300: hsl(var(--dh-color-indigo-300-hsl));
  --dh-color-indigo-400: hsl(var(--dh-color-indigo-400-hsl));
  --dh-color-indigo-500: hsl(var(--dh-color-indigo-500-hsl));
  --dh-color-indigo-600: hsl(var(--dh-color-indigo-600-hsl));
  --dh-color-indigo-700: hsl(var(--dh-color-indigo-700-hsl));
  --dh-color-indigo-800: hsl(var(--dh-color-indigo-800-hsl));
  --dh-color-indigo-900: hsl(var(--dh-color-indigo-900-hsl));
  --dh-color-indigo-1000: hsl(var(--dh-color-indigo-1000-hsl));
  --dh-color-indigo-1100: hsl(var(--dh-color-indigo-1100-hsl));
  --dh-color-indigo-1200: hsl(var(--dh-color-indigo-1200-hsl));
  --dh-color-indigo-1300: hsl(var(--dh-color-indigo-1300-hsl));
  --dh-color-indigo-1400: hsl(var(--dh-color-indigo-1400-hsl));

  /* Purple */
  --dh-color-purple-100: hsl(var(--dh-color-purple-100-hsl));
  --dh-color-purple-200: hsl(var(--dh-color-purple-200-hsl));
  --dh-color-purple-300: hsl(var(--dh-color-purple-300-hsl));
  --dh-color-purple-400: hsl(var(--dh-color-purple-400-hsl));
  --dh-color-purple-500: hsl(var(--dh-color-purple-500-hsl));
  --dh-color-purple-600: hsl(var(--dh-color-purple-600-hsl));
  --dh-color-purple-700: hsl(var(--dh-color-purple-700-hsl));
  --dh-color-purple-800: hsl(var(--dh-color-purple-800-hsl));
  --dh-color-purple-900: hsl(var(--dh-color-purple-900-hsl));
  --dh-color-purple-1000: hsl(var(--dh-color-purple-1000-hsl));
  --dh-color-purple-1100: hsl(var(--dh-color-purple-1100-hsl));
  --dh-color-purple-1200: hsl(var(--dh-color-purple-1200-hsl));
  --dh-color-purple-1300: hsl(var(--dh-color-purple-1300-hsl));
  --dh-color-purple-1400: hsl(var(--dh-color-purple-1400-hsl));

  /* Fuchsia */
  --dh-color-fuchsia-100: hsl(var(--dh-color-fuchsia-100-hsl));
  --dh-color-fuchsia-200: hsl(var(--dh-color-fuchsia-200-hsl));
  --dh-color-fuchsia-300: hsl(var(--dh-color-fuchsia-300-hsl));
  --dh-color-fuchsia-400: hsl(var(--dh-color-fuchsia-400-hsl));
  --dh-color-fuchsia-500: hsl(var(--dh-color-fuchsia-500-hsl));
  --dh-color-fuchsia-600: hsl(var(--dh-color-fuchsia-600-hsl));
  --dh-color-fuchsia-700: hsl(var(--dh-color-fuchsia-700-hsl));
  --dh-color-fuchsia-800: hsl(var(--dh-color-fuchsia-800-hsl));
  --dh-color-fuchsia-900: hsl(var(--dh-color-fuchsia-900-hsl));
  --dh-color-fuchsia-1000: hsl(var(--dh-color-fuchsia-1000-hsl));
  --dh-color-fuchsia-1100: hsl(var(--dh-color-fuchsia-1100-hsl));
  --dh-color-fuchsia-1200: hsl(var(--dh-color-fuchsia-1200-hsl));
  --dh-color-fuchsia-1300: hsl(var(--dh-color-fuchsia-1300-hsl));
  --dh-color-fuchsia-1400: hsl(var(--dh-color-fuchsia-1400-hsl));

  /* Magenta */
  --dh-color-magenta-100: hsl(var(--dh-color-magenta-100-hsl));
  --dh-color-magenta-200: hsl(var(--dh-color-magenta-200-hsl));
  --dh-color-magenta-300: hsl(var(--dh-color-magenta-300-hsl));
  --dh-color-magenta-400: hsl(var(--dh-color-magenta-400-hsl));
  --dh-color-magenta-500: hsl(var(--dh-color-magenta-500-hsl));
  --dh-color-magenta-600: hsl(var(--dh-color-magenta-600-hsl));
  --dh-color-magenta-700: hsl(var(--dh-color-magenta-700-hsl));
  --dh-color-magenta-800: hsl(var(--dh-color-magenta-800-hsl));
  --dh-color-magenta-900: hsl(var(--dh-color-magenta-900-hsl));
  --dh-color-magenta-1000: hsl(var(--dh-color-magenta-1000-hsl));
  --dh-color-magenta-1100: hsl(var(--dh-color-magenta-1100-hsl));
  --dh-color-magenta-1200: hsl(var(--dh-color-magenta-1200-hsl));
  --dh-color-magenta-1300: hsl(var(--dh-color-magenta-1300-hsl));
  --dh-color-magenta-1400: hsl(var(--dh-color-magenta-1400-hsl));
}
