/* stylelint-disable alpha-value-notation */
/* stylelint-disable custom-property-empty-line-before */
:root {
  --dh-color-chart-bg: var(--dh-color-content-bg);
  --dh-color-chart-plot-bg: var(--dh-color-gray-200);
  --dh-color-chart-title: var(--dh-color-white);

  /* Colorway */
  --dh-color-chart-colorway: var(--dh-color-visual-cyan)
    var(--dh-color-visual-green) var(--dh-color-visual-yellow)
    var(--dh-color-visual-purple) var(--dh-color-visual-orange)
    var(--dh-color-visual-red) var(--dh-color-visual-chartreuse)
    var(--dh-color-visual-fuchsia) var(--dh-color-visual-seafoam)
    var(--dh-color-visual-magenta) var(--dh-color-white);
  --dh-color-chart-grid: var(--dh-color-gray-400);
  --dh-color-chart-axis-line: var(--dh-color-gray-500);
  --dh-color-chart-axis-line-zero: var(--dh-color-gray-700);
  --dh-color-chart-active: var(--dh-color-accent-600);

  --dh-color-chart-range-bg: hsla(var(--dh-color-gray-500-hsl) 0.7);
  --dh-color-chart-area: var(--dh-color-visual-blue);
  --dh-color-chart-trend: var(--dh-color-green-1200);

  /* Error band */
  --dh-color-chart-error-band-line: var(--dh-color-green-1400);
  --dh-color-chart-error-band-fill: hsla(var(--dh-color-green-1200-hsl), 0.1);

  /* OHLC */
  --dh-color-chart-ohlc-increase: var(--dh-color-visual-green);
  --dh-color-chart-ohlc-decrease: var(--dh-color-visual-red);

  /* 
   * This color shows up in the styleguide, but it doesn't seem to be consumed
   * in production code. There has been discussion about it not being needed 
   * anymore. 
   */
  --dh-color-chart-line-deprecated: var(--dh-color-visual-green);

  --dh-color-plotly-axis-text: var(--dh-color-gray-500);
  --dh-color-plotly-zoombox: hsla(var(--dh-color-true-black-hsl), 0.5);
  --dh-color-plotly-zoombox-corners-fill: var(--dh-color-white);
  --dh-color-plotly-zoombox-corners-stroke: var(--dh-color-gray-75);

  --dh-color-plotly-modebar-btn-active: var(--dh-color-true-white-hsl, 0.7);
  --dh-color-plotly-modebar-btn-warning: var(--dh-color-visual-orange);
  --dh-color-plotly-notifier-note-bg: var(--dh-color-gray-500);

  /* Geo */
  --dh-color-plotly-geo-coastline: var(--dh-color-gray-200);
  --dh-color-plotly-geo-land: var(--dh-color-gray-700);
  --dh-color-plotly-geo-ocean: var(--dh-color-gray-300);
  --dh-color-plotly-geo-lake: var(--dh-color-blue-400);
  --dh-color-plotly-geo-river: var(--dh-color-blue-400);
}
