/* stylelint-disable custom-property-empty-line-before */
:root {
  --dh-color-gray-50: #ffffff;
  --dh-color-gray-75: #fafafa;
  --dh-color-gray-100: #f7f7f7;
  --dh-color-gray-200: #eeeeee;
  --dh-color-gray-300: #dadada;
  --dh-color-gray-400: #b9b9b9;
  --dh-color-gray-500: #959595;
  --dh-color-gray-600: #727272;
  --dh-color-gray-700: #464646;
  --dh-color-gray-800: #222222;
  --dh-color-gray-900: #000000;

  --dh-color-gray-light: var(--dh-color-gray-900);
  --dh-color-gray-mid: var(--dh-color-gray-600);
  --dh-color-gray-dark: var(--dh-color-gray-300);

  /** Black & White */
  --dh-color-black: var(--dh-color-gray-900);
  --dh-color-white: var(--dh-color-gray-75);
  --dh-color-true-black: #000000;
  --dh-color-true-white: #ffffff;

  --dh-color-red-100: #ffebe7;
  --dh-color-red-200: #ffddd6;
  --dh-color-red-300: #ffcdc3;
  --dh-color-red-400: #ffb7a9;
  --dh-color-red-500: #ff9b88;
  --dh-color-red-600: #ff7c65;
  --dh-color-red-700: #f75c46;
  --dh-color-red-800: #ea3829;
  --dh-color-red-900: #d31510;
  --dh-color-red-1000: #b40000;
  --dh-color-red-1100: #930000;
  --dh-color-red-1200: #740000;
  --dh-color-red-1300: #590000;
  --dh-color-red-1400: #430000;

  --dh-color-orange-100: #ffeccc;
  --dh-color-orange-200: #ffdfad;
  --dh-color-orange-300: #fdd291;
  --dh-color-orange-400: #ffbb63;
  --dh-color-orange-500: #ffa037;
  --dh-color-orange-600: #f68511;
  --dh-color-orange-700: #e46f00;
  --dh-color-orange-800: #cb5d00;
  --dh-color-orange-900: #b14c00;
  --dh-color-orange-1000: #953d00;
  --dh-color-orange-1100: #7a2f00;
  --dh-color-orange-1200: #612300;
  --dh-color-orange-1300: #491901;
  --dh-color-orange-1400: #351201;

  --dh-color-yellow-100: #fbf198;
  --dh-color-yellow-200: #f8e750;
  --dh-color-yellow-300: #f8d904;
  --dh-color-yellow-400: #e8c600;
  --dh-color-yellow-500: #d7b300;
  --dh-color-yellow-600: #c49f00;
  --dh-color-yellow-700: #b08c00;
  --dh-color-yellow-800: #9b7800;
  --dh-color-yellow-900: #856600;
  --dh-color-yellow-1000: #705300;
  --dh-color-yellow-1100: #5b4300;
  --dh-color-yellow-1200: #483300;
  --dh-color-yellow-1300: #362500;
  --dh-color-yellow-1400: #281a00;

  --dh-color-chartreuse-100: #dbfc6e;
  --dh-color-chartreuse-200: #cbf443;
  --dh-color-chartreuse-300: #bce92a;
  --dh-color-chartreuse-400: #aad816;
  --dh-color-chartreuse-500: #98c50a;
  --dh-color-chartreuse-600: #87b103;
  --dh-color-chartreuse-700: #769c00;
  --dh-color-chartreuse-800: #678800;
  --dh-color-chartreuse-900: #577400;
  --dh-color-chartreuse-1000: #486000;
  --dh-color-chartreuse-1100: #3a4d00;
  --dh-color-chartreuse-1200: #2c3b00;
  --dh-color-chartreuse-1300: #212c00;
  --dh-color-chartreuse-1400: #181f00;

  --dh-color-celery-100: #cdfcbf;
  --dh-color-celery-200: #aef69d;
  --dh-color-celery-300: #96ee85;
  --dh-color-celery-400: #72e06a;
  --dh-color-celery-500: #4ecf50;
  --dh-color-celery-600: #27bb36;
  --dh-color-celery-700: #07a721;
  --dh-color-celery-800: #009112;
  --dh-color-celery-900: #007c0f;
  --dh-color-celery-1000: #00670f;
  --dh-color-celery-1100: #00530d;
  --dh-color-celery-1200: #00400a;
  --dh-color-celery-1300: #003007;
  --dh-color-celery-1400: #002205;

  --dh-color-green-100: #cef8e0;
  --dh-color-green-200: #adf4ce;
  --dh-color-green-300: #89ecbc;
  --dh-color-green-400: #67dea8;
  --dh-color-green-500: #49cc93;
  --dh-color-green-600: #2fb880;
  --dh-color-green-700: #15a46e;
  --dh-color-green-800: #008f5d;
  --dh-color-green-900: #007a4d;
  --dh-color-green-1000: #00653e;
  --dh-color-green-1100: #005132;
  --dh-color-green-1200: #053f27;
  --dh-color-green-1300: #0a2e1d;
  --dh-color-green-1400: #0a2015;

  --dh-color-seafoam-100: #cef7f3;
  --dh-color-seafoam-200: #aaf1ea;
  --dh-color-seafoam-300: #8ce9e2;
  --dh-color-seafoam-400: #65dad2;
  --dh-color-seafoam-500: #3fc9c1;
  --dh-color-seafoam-600: #0fb5ae;
  --dh-color-seafoam-700: #00a19a;
  --dh-color-seafoam-800: #008c87;
  --dh-color-seafoam-900: #007772;
  --dh-color-seafoam-1000: #00635f;
  --dh-color-seafoam-1100: #0c4f4c;
  --dh-color-seafoam-1200: #123c3a;
  --dh-color-seafoam-1300: #122c2b;
  --dh-color-seafoam-1400: #0f1f1e;

  --dh-color-cyan-100: #c5f8ff;
  --dh-color-cyan-200: #a4f0ff;
  --dh-color-cyan-300: #88e7fa;
  --dh-color-cyan-400: #60d8f3;
  --dh-color-cyan-500: #33c5e8;
  --dh-color-cyan-600: #12b0da;
  --dh-color-cyan-700: #019cc8;
  --dh-color-cyan-800: #0086b4;
  --dh-color-cyan-900: #00719f;
  --dh-color-cyan-1000: #005d89;
  --dh-color-cyan-1100: #004a73;
  --dh-color-cyan-1200: #00395d;
  --dh-color-cyan-1300: #002a46;
  --dh-color-cyan-1400: #001e33;

  --dh-color-blue-100: #e0f2ff;
  --dh-color-blue-200: #cae8ff;
  --dh-color-blue-300: #b5deff;
  --dh-color-blue-400: #96cefd;
  --dh-color-blue-500: #78bbfa;
  --dh-color-blue-600: #59a7f6;
  --dh-color-blue-700: #3892f3;
  --dh-color-blue-800: #147af3;
  --dh-color-blue-900: #0265dc;
  --dh-color-blue-1000: #0054b6;
  --dh-color-blue-1100: #004491;
  --dh-color-blue-1200: #003571;
  --dh-color-blue-1300: #002754;
  --dh-color-blue-1400: #001c3c;

  --dh-color-indigo-100: #edeeff;
  --dh-color-indigo-200: #e0e2ff;
  --dh-color-indigo-300: #d3d5ff;
  --dh-color-indigo-400: #c1c4ff;
  --dh-color-indigo-500: #acafff;
  --dh-color-indigo-600: #9599ff;
  --dh-color-indigo-700: #7e84fc;
  --dh-color-indigo-800: #686df4;
  --dh-color-indigo-900: #5258e4;
  --dh-color-indigo-1000: #4046ca;
  --dh-color-indigo-1100: #3236a8;
  --dh-color-indigo-1200: #262986;
  --dh-color-indigo-1300: #1b1e64;
  --dh-color-indigo-1400: #141648;

  --dh-color-purple-100: #f6ebff;
  --dh-color-purple-200: #eeddff;
  --dh-color-purple-300: #e6d0ff;
  --dh-color-purple-400: #dbbbfe;
  --dh-color-purple-500: #cca4fd;
  --dh-color-purple-600: #bd8bfc;
  --dh-color-purple-700: #ae72f9;
  --dh-color-purple-800: #9d57f4;
  --dh-color-purple-900: #893de7;
  --dh-color-purple-1000: #7326d3;
  --dh-color-purple-1100: #5d13b7;
  --dh-color-purple-1200: #470c94;
  --dh-color-purple-1300: #33106a;
  --dh-color-purple-1400: #230f49;

  --dh-color-fuchsia-100: #ffe9fc;
  --dh-color-fuchsia-200: #ffdafa;
  --dh-color-fuchsia-300: #fec7f8;
  --dh-color-fuchsia-400: #fbaef6;
  --dh-color-fuchsia-500: #f592f3;
  --dh-color-fuchsia-600: #ed74ed;
  --dh-color-fuchsia-700: #e055e2;
  --dh-color-fuchsia-800: #cd3ace;
  --dh-color-fuchsia-900: #b622b7;
  --dh-color-fuchsia-1000: #9d039e;
  --dh-color-fuchsia-1100: #800081;
  --dh-color-fuchsia-1200: #640664;
  --dh-color-fuchsia-1300: #470e46;
  --dh-color-fuchsia-1400: #320d31;

  --dh-color-magenta-100: #ffeaf1;
  --dh-color-magenta-200: #ffdce8;
  --dh-color-magenta-300: #ffcadd;
  --dh-color-magenta-400: #ffb2ce;
  --dh-color-magenta-500: #ff95bd;
  --dh-color-magenta-600: #fa77aa;
  --dh-color-magenta-700: #ef5a98;
  --dh-color-magenta-800: #de3d82;
  --dh-color-magenta-900: #c82269;
  --dh-color-magenta-1000: #ad0955;
  --dh-color-magenta-1100: #8e0045;
  --dh-color-magenta-1200: #700037;
  --dh-color-magenta-1300: #54032a;
  --dh-color-magenta-1400: #3c061d;
}
