.dh-list-view-wrapper-scale-medium {
  --dh-list-view-item-icon-compact: 24px;
  --dh-list-view-item-icon-regular: 26px;
  --dh-list-view-item-icon-spacious: 32px;
}

.dh-list-view-wrapper-scale-large {
  --dh-list-view-item-icon-compact: 30px;
  --dh-list-view-item-icon-regular: 32px;
  --dh-list-view-item-icon-spacious: 40px;
}

.dh-list-view-wrapper-density-compact {
  svg[class*='react-spectrum-ListViewItem-thumbnail'] {
    height: var(--dh-list-view-item-icon-compact);
  }
}
.dh-list-view-wrapper-density-regular {
  svg[class*='react-spectrum-ListViewItem-thumbnail'] {
    height: var(--dh-list-view-item-icon-regular);
  }
}
.dh-list-view-wrapper-density-spacious {
  svg[class*='react-spectrum-ListViewItem-thumbnail'] {
    height: var(--dh-list-view-item-icon-spacious);
  }
}
