@import '@deephaven/components/scss/custom.scss';
@import '@deephaven/golden-layout/scss/goldenlayout-base.scss';
@import '@deephaven/golden-layout/scss/goldenlayout-dark-theme.scss';

// Styling for behaviours not part of the default golden layout package

.lm_tab .editor-unsaved-indicator {
  display: none;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $primary;

  &.is-unsaved {
    display: inline-block;
  }
}

.lm_dragging {
  //disable plotly pointer events while dragging golden layout
  .js-plotly-plot .plotly {
    svg,
    g,
    rect,
    path {
      pointer-events: none !important;
    }
  }
}
