@import '@deephaven/components/scss/custom.scss';

.ui-title {
  color: $gray-200;
  border-bottom: 1px solid $gray-200;
  padding-bottom: 10px;
  margin: 1.5rem 0;
}

pre {
  color: $gray-300;
}

.swatch {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
}

.swatch-content-bg {
  border: 1px solid $gray-600;
  margin-top: 2.5rem;
  position: relative;

  &::before {
    content: 'Semantic Colours';
    display: block;
    position: absolute;
    font-size: 10px;
    top: -2rem;
  }
}

@each $theme-color, $value in $theme-colors {
  .swatch-#{$theme-color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in $colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in $grays {
  .gray-swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

.style-guide-container {
  background-color: $content-bg;
  padding: 1rem;
}

h5.sub-title {
  color: $gray-200;
  padding-bottom: 10px;
  margin: 2.5rem 0 1rem 0;
}

.style-guide-inputs {
  .draggable-item-list {
    height: 300px;
  }
}

.navigations {
  position: relative;
  height: 400px;
  width: 325px;
  border: 1px solid $input-border-color;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 62px);
  grid-auto-rows: min-content;
  gap: 8px;
  flex-grow: 1;

  .flash {
    position: fixed;
    top: $spacer;
    right: $spacer;
    opacity: 0;
    padding: $spacer;
    border-radius: $border-radius;
    color: $foreground;
    background-color: $content-bg;
    transition: opacity 0.2s;
    box-shadow: 0 0 4px $black;
    pointer-events: none;
  }

  .flash.in {
    opacity: 1;
  }

  .no-result {
    width: 200px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $content-bg;
    border-color: transparent;
    &:focus {
      border-color: $primary;
    }
  }

  .icon {
    font-size: 36px;
  }

  .card label {
    max-width: 100%;
    font-size: 0.8rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  /* lol vsPulse gets class fa-pulse, that makes it spins */
  .fa-pulse {
    animation: none;
  }
}
