.themeColors {
  --swatch-height: 35px;
  --column-gap: 14px;

  display: grid;
  column-gap: var(--column-gap);
  // Add as many columns as will fit in the container each 210px wide.
  // Row height is set to the swatch height (35px) by dynamic `grid-row` style
  // attributes set in ThemeColors.tsx.
  grid-template-columns: repeat(auto-fit, 210px);
}

.themeColorsPalette {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 1px;
  align-items: center;

  .swatch {
    display: flex;
    aspect-ratio: 4/3;
    align-items: start;
    justify-content: end;
    // hide copy swatch button until hover
    button {
      opacity: 0;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}

.themeColors {
  .label {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4px;
    height: var(--swatch-height);
    white-space: nowrap;
    &.capitalize {
      text-transform: capitalize;
    }
  }

  .swatch {
    display: flex;
    align-items: center;
    height: var(--swatch-height);
    justify-content: space-between;
    padding-left: 10px;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    // hide copy swatch button until hover
    button {
      opacity: 0;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}
