.themeColorsPalette {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 1px;
  align-items: center;

  .swatch {
    display: flex;
    aspect-ratio: 4/3;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.themeColors {
  --swatch-height: 24px;
  --column-gap: 14px;

  display: grid;
  column-gap: var(--column-gap);
  // Add as many columns as will fit in the container each 210px wide.
  // Row height is set to the swatch height (35px) by dynamic `grid-row` style
  // attributes set in ThemeColors.tsx.
  grid-template-columns: repeat(auto-fit, 210px);

  .label {
    display: block;
    padding: 1rem 0;
    font-weight: bold;

    &.capitalize {
      text-transform: capitalize;
    }
  }

  .swatch {
    display: flex;
    align-items: center;
    height: var(--swatch-height);
    gap: 4px;
    margin-bottom: 1px;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.themeColors,
.themeColorsPalette {
  .swatch {
    // hide copy swatch button until hover
    button {
      opacity: 0;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}
