.themeColors {
  --swatch-height: 35px;
  --column-gap: 14px;

  display: grid;
  column-gap: var(--column-gap);
  // Add as many columns as will fit in the container each 210px wide.
  // Row height is set to the swatch height (35px) by dynamic `grid-row` style
  // attributes set in ThemeColors.tsx.
  grid-template-columns: repeat(auto-fit, 210px);

  .label {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 4px;
    height: var(--swatch-height);
    text-transform: capitalize;
    white-space: nowrap;
  }

  .swatch {
    display: flex;
    align-items: center;
    height: var(--swatch-height);
    justify-content: space-between;
    padding: 0 10px;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
