@import '../../../../components/scss/custom.scss';

$dropdown-filter-icon-size: 31px;

.dropdown-filter-panel-component {
  .lm_content {
    // Allow content to overflow above headers, so flip animation works properly
    z-index: 15;
    overflow: visible;
  }
}

.dropdown-filter {
  background: $background;

  .error-message {
    color: $danger;
    margin-bottom: $spacer-4;
    font-size: 1rem;
  }

  .dropdown-filter-settings-card,
  .dropdown-filter-value-card {
    position: relative;
    overflow: auto;
    height: 100%;
    background: $content-bg;
  }

  .dropdown-filter-card-content {
    margin: auto;
    padding: $spacer-1;
  }

  // Settings side
  .dropdown-filter-settings-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-filter-settings-grid {
    display: grid;
    grid-template-columns: max-content min-max(min-content, 350px);
    column-gap: $spacer-2;
    row-gap: $spacer-2;
    padding-bottom: $spacer;

    label {
      padding-top: calc(#{$input-padding-y} + #{$input-height-border});
      margin-bottom: 0;
    }

    .text-muted {
      grid-column-start: 2;
    }
  }

  .dropdown-filter-settings-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  // Filter side
  .dropdown-filter-value-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-filter-column {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacer-2;
    color: $text-muted;
    font-size: small;
  }

  .dropdown-filter-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown-filter-value-input {
    max-width: 100%;
    padding: $spacer-1;

    input {
      font-size: x-large;
      color: $interfacewhite;
      text-align: center;
      background: transparent;
      border: none;
      border-bottom: 1px solid $gray-400;
      max-width: 100%;

      &:focus {
        outline: none;
        border-bottom: 1px solid $input-focus-border-color;
        box-shadow: 0 $input-btn-focus-width 0 $input-btn-focus-color;
      }
    }
  }
}
