@import '@deephaven/components/scss/custom.scss';

$chart-filter-column-valid-color: $green;
$chart-filter-column-invalid-color: $gray-400;

.chart-filter-overlay {
  .chart-filter-overlay-content {
    .waiting-filter-list {
      margin-top: $spacer-2;
      margin-bottom: $spacer-4;

      .waiting-filter-item {
        svg {
          margin-right: $spacer-2;
          color: $chart-filter-column-valid-color;
        }

        &.is-invalid {
          svg {
            color: $chart-filter-column-invalid-color;
          }
        }
      }
    }
    .btn {
      margin-bottom: $spacer-3;
      margin-right: $spacer-3;
    }
    &.chart-filter-waiting-filter {
      .info-message,
      .waiting-filter-list {
        text-align: left;
      }
    }
  }
}
