@import '@deephaven/components/scss/custom.scss';

.error-message pre {
  color: $danger;
}

.iris-panel-console {
  &.disconnected {
    .console-history-result-in-progress {
      display: none;
    }
    .csv-overlay {
      display: none;
    }
    .csv-input-bar {
      display: none;
    }
    .console-input-wrapper {
      display: none;
    }
  }
}
