@import '@deephaven/components/scss/custom.scss';

$toolbar-bg: $content-bg;

.notebook-title {
  &.is-preview {
    font-style: italic;
  }
}

.notebook-session-not-connected {
  padding: $spacer-2;
  color: $gray-600;
}

.notebook-container {
  display: flex;
  flex-direction: column;

  .notebook-toolbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: $toolbar-bg;
    border-bottom: 2px solid $background;
    padding: $spacer-1 $spacer-2;
    gap: $spacer-1;

    .btn-play:hover,
    .btn-play-selected:hover {
      color: $green;
    }

    .icon-create-pq {
      transform: translate(0, -4px);
    }
  }
}
