@import '@deephaven/components/scss/custom.scss';

$toolbar-font-size: 18px;
$toolbar-width: 36px;
$toolbar-height: 36px;
$toolbar-bg: $interfacegray;

.notebook-title {
  &.is-preview {
    font-style: italic;
  }
}

.notebook-session-not-connected {
  padding: $spacer-2;
  color: $gray-600;
}

.notebook-container {
  display: flex;
  flex-direction: column;

  .notebook-toolbar {
    display: flex;
    flex-basis: $toolbar-height;
    flex-direction: row;
    flex-grow: 0;
    background: $toolbar-bg;
    border-bottom: 2px solid $interfaceblack;
    padding: $spacer-1;

    .btn {
      min-width: $toolbar-width;
      padding-left: 0;
      padding-right: 0;
      font-size: $toolbar-font-size;

      &:hover {
        transition: none;
      }
    }

    .btn-play:hover,
    .btn-play-selected:hover {
      color: $green;
    }

    .btn-overflow {
      font-size: inherit;
    }

    .icon-create-pq {
      transform: translate(0, -4px);
    }
  }
}
