@import '~@deephaven/components/scss/custom.scss';

.btn-pandas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: $spacer-1 $spacer-2;
  background-color: $primary-dark;
  border: none;
  border-radius: 0;
}
