// Import Deephaven styling so we can use it's variables
@import '@deephaven/components/scss/custom_webpack.scss';

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $black;
  color: $white;
}
