@import '@deephaven/components/scss/custom.scss';

.log-level-menu-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 22px;
  user-select: none;

  .btn-switch {
    margin-right: 0.5rem;
  }
}

.log-level-menu-item.ERROR,
.log-level-menu-item.FATAL,
.log-level-menu-item.STDERR {
  color: $danger;
}

.log-level-menu-item.INFO {
  color: $blue;
}

.log-level-menu-item.STDOUT {
  color: $foreground;
}

.log-level-menu-item.WARN {
  color: $yellow;
}

.log-level-menu-item.DEBUG {
  color: $purple;
}

.log-level-menu-item.TRACE {
  color: $green;
}
