@import '@deephaven/components/scss/custom.scss';

.editor-container {
  .monaco-editor {
    // override default scroll container shadow to match our global shadows
    --vscode-scrollbar-shadow: var(--dh-color-dropshadow);

    // set font for menus
    font-family: var(--font-family-sans-serif);
    .shadow-root-host {
      font-family: var(--font-family-sans-serif);
    }
  }
  .monaco-editor .detected-link {
    color: $link-color;
  }
}

// Override Monaco's default markdown popups (i.e signature help) to resemble VS Code closer
.rendered-markdown.markdown-docs {
  min-width: 12rem;
  
  hr {
    background-color: $text-muted;
    height: 1px;
  }

  blockquote {
    margin-left: $spacer-4;
  }
}
