@import '../../scss/custom.scss';

.modal-transition-enter {
  opacity: 0;
}
.modal-transition-enter-done {
  opacity: 1;
  transition: opacity $transition ease-out;
}

.modal-transition-exit {
  opacity: 1;
}
.modal-transition-exit-active {
  opacity: 0;
  transition: opacity $transition;
}

.modal-slide-in-enter {
  opacity: 0;
  transform: translateY(-50px);
}
.modal-slide-in-enter-done {
  transform: translateY(0);
  opacity: 1;
  transition: transform $transition ease-in, opacity $transition ease-in;
  transition-delay: $transition;
}

.modal-slide-in-exit {
  transform: translateY(0);
}
.modal-slide-in-active {
  transform: translateY(-50px);
  transition: transform $transition;
}
