@use 'common/ConsoleVariables';
@import '@deephaven/components/scss/custom.scss';

.iris-console {
  display: flex;

  .console-pane {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .scroll-pane {
      flex-grow: 1;
    }

    // acts as scroll decoration element
    .scroll-pane::before {
      $size: 6px;

      content: '';
      display: block;
      position: absolute;
      width: 100%;
      background: linear-gradient(rgba($black, 0.6), rgba($black, 0));
      height: $size;
      opacity: 0;
      transition: opacity $transition-long;
      pointer-events: none;
    }

    .scroll-pane.scroll-decoration::before {
      opacity: 1;
    }

    .console-csv-container {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
    }
  }

  .console-disconnected-info {
    padding-top: $spacer-1;
    .console-disconnected-info-message {
      font-family: $font-family-monospace;
      color: $danger;
      font-size: ConsoleVariables.$font-size;
    }
  }
}
