@import '../../components/scss/custom.scss';

$console-input-bg: $gray-600;
$console-input-inner-bg: $content-bg;
$console-input-min-height: 40px;
$console-input-padding: 4px;
$console-input-radius: $border-radius;
$console-input-border-color: $input-border-color;
$console-input-focus-border-color: $input-focus-border-color;
$console-input-focus-box-shadow: $input-btn-focus-box-shadow;
$console-input-border-width: $input-border-width;
$console-input-margin-left: 33px;
$console-input-margin-font-family: $font-family-monospace;
$console-input-margin-font-size: 12px;
$console-input-margin-padding-right: 15px;
$console-input-margin-padding-top: 7px;
$console-input-margin-color: $foreground;

.console-input-wrapper {
  background-color: $console-input-bg;
  padding: $console-input-padding;
  min-height: $console-input-min-height;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;

  &::before {
    content: '>';
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $console-input-margin-left;
    font-family: $console-input-margin-font-family;
    font-size: $console-input-margin-font-size;
    text-align: right;
    padding-right: $console-input-margin-padding-right;
    padding-top: $console-input-margin-padding-top;
    color: $console-input-margin-color;
  }

  .console-input-inner-wrapper {
    min-width: 0;
    flex-grow: 1;
    background-color: $console-input-inner-bg;
    border-radius: $console-input-radius;
    border: $console-input-border-width solid $console-input-border-color;

    .monaco-editor {
      border-radius: $console-input-radius;

      .overflow-guard {
        border-radius: $console-input-radius;
      }
    }

    &:focus,
    &.focus {
      border-color: $console-input-focus-border-color;
      box-shadow: $console-input-focus-box-shadow;
      outline: none;
    }
  }
}
