@import '../../components/scss/custom.scss';

.max-memory {
  position: relative;
  color: $gray-300;
  background-color: $gray-900;
  border: $black;
  width: 4.25rem;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  z-index: 1;
}

.total-memory,
.used-memory {
  position: absolute;
  inset: 0;
  margin: 1px;
  z-index: -1;
}

.total-memory {
  background-color: $gray-700;
}

.used-memory {
  background-color: $gray-500;
}

.heap-overflow {
  background-color: $red;
}

.heap-tooltip {
  padding: $spacer-1;
  width: 200px;
}

.heap-usage-info-row {
  display: flex;
  color: $foreground;
  padding: $spacer-1;
  justify-content: space-between;
}

.heap-plot {
  display: flex;
  align-items: center;
}

.heading-bottom-border {
  border-bottom: 1px solid $gray-900;
  margin-bottom: $spacer-1;
}

.heap-utilisation-text {
  margin-top: $spacer-1;
  color: $gray-400;
}
