@import '~@deephaven/components/scss/custom.scss';

$padding-x: 2rem;

.iris-grid-filter-menu-item-value {
  user-select: none;
  background: $content-bg;
  border-radius: $border-radius $border-radius 0 0;
  padding: $input-btn-padding-y $padding-x;
  text-overflow: ellipsis;
  overflow: hidden;
}

.advanced-filter-button-container {
  transition: $transition opacity;
}

.advanced-filter-button-container.hidden {
  opacity: 0;
}
