@import '@deephaven/components/scss/custom.scss';

$dashboard-list-color: $gray-200;
$dashboard-list-hover-color: $foreground;
$dashboard-list-background-hover-color: var(--dh-color-highlight-hover);

$dashboard-list-owner-color: $gray-400;
$dashboard-list-owner-hover-color: $gray-200;

.dashboard-list-container {
  height: 25.6rem;
  padding: 0 0.5rem;
  text-align: left;
  width: 23rem;

  &:focus {
    outline: none;
  }

  .dashboard-list {
    margin: 0.5rem -0.5rem 0;
    padding: 0;
    text-align: left;
    overflow: auto;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .btn {
      border: none;
      border-radius: 0;
      display: block;
      text-align: left;
      margin: 0;
      padding: 0.35rem 0.5rem;
      width: 100%;
      color: $dashboard-list-color;
      &:hover,
      &:focus,
      &.focused {
        color: $dashboard-list-hover-color;
        background-color: $dashboard-list-background-hover-color;
        text-decoration: none;
      }
    }
    .dashboard-list-item-icon {
      margin-right: $spacer-2;
    }
    .dashboard-list-message {
      padding: 0 $spacer-2;
    }
  }

  .dashboard-list-header {
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;

    .btn .fa-md {
      margin-right: $spacer-2;
    }
  }
}
