@import '../../scss/custom.scss';

.navigation-stack {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .main-view,
  .popping-view,
  .pushing-view {
    width: 100%;
    height: 100%;
    background: $content-bg;
    position: absolute;
  }

  .pushing-view,
  .popping-view {
    box-shadow: -4px 0 8px $background-opacity-40;
  }

  .popping-view {
    left: 100%;
  }
}
