@import '~@deephaven/components/scss/custom.scss';

$ease-out-bounce-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.iris-grid-copy-handler {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: $toast-bg;
  color: $toast-color;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 50px;

  .status-message {
    flex-grow: 1;
    font-weight: 600;
    margin-right: 1em;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -4px;
    user-select: none;
  }

  .buttons-container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn {
      min-width: 10rem;
    }

    .btn-cancel {
      color: $gray-100;
      border-color: $gray-100;
      margin-right: 0.5em;
    }

    .btn-copy:disabled {
      opacity: 1;
    }
  }
}

.copy-slide-up-enter {
  transform: translateY(50px);
}

.copy-slide-up-enter-active {
  transform: initial;
  transition: transform $transition-long $ease-out-bounce-back;
}

.copy-slide-up-exit {
  transform: initial;
}

.copy-slide-up-exit-active {
  transform: translateY(50px);
  transition: transform $transition-long $ease-out-bounce-back;
}
