@import '../custom.scss';

$bottom-bar-height: 50px;
$ease-out-bounce-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.iris-grid-bottom-bar {
  position: absolute;
  bottom: -$bottom-bar-height;
  left: 0;
  right: 0;
  height: calc(#{$bottom-bar-height} * 2);
  background-color: $toast-bg;
  color: $toast-color;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 50px;

  .status-message,
  .error-message {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 600;
    margin-right: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -4px;
    user-select: none;
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .svg-inline--fa {
      margin-right: 0.5rem;
    }
  }

  .error-message {
    color: $danger;
  }

  .buttons-container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn {
      min-width: 10rem;
      .svg-inline--fa {
        margin-right: 0.5rem;
      }
    }

    .btn:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.iris-grid-bottom-bar-slide-up-enter {
  transform: translate3d(0, 100%, 0);
}

.iris-grid-bottom-bar-slide-up-enter-active {
  transform: initial;
  transition: transform $transition-long $ease-out-bounce-back;
}

.iris-grid-bottom-bar-slide-up-enter-done {
  position: relative;
  bottom: 0;
  padding-bottom: 0;
  height: $bottom-bar-height;
  transition: transform $transition-long $ease-out-bounce-back;
}

.iris-grid-bottom-bar-slide-up-exit {
  transform: initial;
}

.iris-grid-bottom-bar-slide-up-exit-active {
  transform: translate3d(0, 100%, 0);
  transition: transform $transition-long $ease-out-bounce-back;
}
