# This workflow will do a production build of the application, and test it end-to-end with the latest Deephaven Core server.

name: Build and End-to-end Tests

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - main
      - 'release/**'
env:
  DOCKER_TAG: edge
jobs:
  build:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: e2e-node-modules-${{ hashFiles('package-lock.json')}}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - name: Build
        run: npm run build

      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: packages/code-studio/build/
          retention-days: 5

  e2e-test:
    runs-on: ubuntu-22.04
    needs: build
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
    steps:
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: packages/code-studio/build/

      - name: Run core server:${{ env.DOCKER_TAG }}
        run: |
          docker pull --quiet ghcr.io/deephaven/server:${{ env.DOCKER_TAG }}
          docker run --detach --publish 10000:10000 --name dh-core-server --env "START_OPTS=-Xmx4g -DAuthHandlers=io.deephaven.auth.AnonymousAuthenticationHandler" ghcr.io/deephaven/server:${{ env.DOCKER_TAG }}

      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: e2e-node-modules-${{ hashFiles('package-lock.json')}}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - name: Install Playwright dependencies
        run: PLAYWRIGHT_BROWSERS_PATH=0 npx playwright install --with-deps

      - name: Run Playwright tests
        run: PLAYWRIGHT_BROWSERS_PATH=0 npx playwright test --config=playwright-ci.config.ts --project=${{ matrix.browser }}

      - name: Upload Playwright report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 90
      - name: Dump server logs
        if: failure()
        run: docker logs dh-core-server > /tmp/server-log.txt
      - name: Upload server logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: server-logs
          path: /tmp/server-log.txt
