# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0' # This action defaults to only getting the latest commit. Setting to 0 makes it retrieve the full git commit history

      - name: Fetch base branch
        run: |
          git fetch --no-tags origin ${{ github.event.pull_request.base.ref }}

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          # If no package-lock.json or package.json files have changed, it should be safe to restore all node_modules as they were
          path: |
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('package.json', 'packages/*/package.json', 'package-lock.json', 'packages/*/package-lock.json') }}

      - name: Cache npm cache
        uses: actions/cache@v2
        env:
          cache-name: cache-npm-cache
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('package-lock.json', 'packages/*/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Cache linter caches
        uses: actions/cache@v2
        with:
          path: |
            .eslintcache
            packages/*/.eslintcache
            .stylelintcache
            packages/*/.stylelintcache
          key: ${{ runner.os }}-lintcache-${{ github.head_ref }}
          restore-keys: |
            ${{ runner.os }}-lintcache-
            ${{ runner.os }}-

      # Only need to install and bootstrap deps if package-locks changed
      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test (Pull Request)
        if: ${{ github.event_name == 'pull_request' }}
        run: npm run test:ci -- --changedSince origin/${{ github.event.pull_request.base.ref }}

      - name: Test (Push)
        if: ${{ github.event_name == 'push' }}
        run: npm run test:ci -- --onlyChanged
