name: Publish Alpha
on:
  workflow_dispatch:
    inputs:
      preid:
        description: 'Preid used to publish package. Must be unique per branch.'
        required: true
        default: 'alpha'
      ref:
        description: 'Commit to deploy from. Defaults to branch used for workflow_dispatch action.'
        required: false
        default: ''
jobs:
  publish-alpha:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0' # Need the history to properly select the canary version number
          ref: ${{ github.event.inputs.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      # Need the --no-verify-access access flag since we use an automation token. Otherwise publish step fails
      # https://github.com/lerna/lerna/issues/2788
      - run: ./node_modules/.bin/lerna publish --no-verify-access --canary --force-publish=\* --preid ${{ github.event.inputs.preid }} --pre-dist-tag ${{ github.event.inputs.preid }} --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.DEEPHAVENBOT_NPM_TOKEN }}
