name: Publish Alpha
on:
  workflow_dispatch:
    inputs:
      preid:
        description: 'Preid used to publish package. Must be unique per branch.'
        required: true
        default: 'alpha'
      ref:
        description: 'Commit to deploy from. Defaults to branch used for workflow_dispatch action.'
        required: false
        default: ''
jobs:
  publish-alpha:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm whoami
        # - run: npm install
        # - run: npm run build
        # - run: ./node_modules/.bin/lerna publish --canary --preid ${{ github.event.inputs.preid }} --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN_MIKEBENDER }}
