name: Publish Packages
on:
  workflow_dispatch:
  release:
    types: [created]
jobs:
  publish-packages:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      # Need the --no-verify-access access flag since we use an automation token. Otherwise publish step fails
      # https://github.com/lerna/lerna/issues/2788
      - run: ./node_modules/.bin/lerna publish --no-verify-access from-package --yes --dist-tag v0.31
        env:
          NODE_AUTH_TOKEN: ${{ secrets.DEEPHAVENBOT_NPM_TOKEN }}
